<%= form_with model: @volunteer, url: volunteer_path, html: { class: 'form' } do |form| %>
  <%= render "error_messages", resource: @volunteer %>

  <div class="form-group">
    <div class="form-cell">
    <%= form.label 'Tell us about yourself.', class: 'form-label' %>
    <%= form.text_area :description, size: "60x4", class: 'form-input' %>
    </div>
  </div>

  <div class="form-row">
    <% if @volunteer.picture.representable? %>
      <div class="form-image">
        <%= image_tag @volunteer.picture.representation( resize_to_limit: [200, 200]) %>
      </div>
    <% end %>
    <div class="form-cell">
      <%= form.label 'Picture', class: 'form-label' %>
      <%= form.file_field :picture, class: 'form-input' %>
    </div>
  </div>

  <div class='form-section'>Mailing Address</div>
  <h3 class='form-info'>Where will you recieve an unfinished project?</h3>
  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Street.', class: 'form-label' %>
      <%= form.text_field :street, class: 'form-input' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Line 2', class: 'form-label' %>
      <%= form.text_field :street_2, class: 'form-input' %>
    </div>
  </div>

  <div class="form-row lg:w-2/3">
    <div class="form-cell">
      <%= form.label 'City', class: 'form-label' %>
      <%= form.text_field :city, class: 'form-input' %>
    </div>
    <div class="form-cell">
      <%= form.label 'State', class: 'form-label' %>
      <%= form.text_field :state, class: 'form-input' %>
    </div>
    <div class="form-cell">
      <%= form.label 'postal_code', class: 'form-label' %>
      <%= form.text_field :postal_code, class: 'form-input' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'country', class: 'form-label' %>
      <%= form.text_field :country, class: 'form-input' %>
    </div>
  </div>


  <% if Skill.any? %>
    <div class="form-group">
      <div class="form-cell">
        <%= form.label 'Skill Assessment', class: 'form-label' %>
        <p class="form-info">Rate yourself and add any other information you like!</p>
        <ul>
          <%= form.fields_for :assessments, @assessments do |assessment_form| %>
            <li class="my-2">
              <%= assessment_form.label assessment_form.object.skill.name, class: 'form-label' %>
              <% if assessment_form.object.skill.description.present? %>
                (<% assessment_form.object.skill.description %>)
              <% end %>
              <div class=" flex">
              <%= assessment_form.hidden_field :skill_id, value: assessment_form.object.skill_id %>
              <%= assessment_form.select :rating, [['', '0'],['Beginner', '1'],['Intermediate', '2'],['Expert', '3']], {}, { class: 'form-input w-1/3' } %>
              <%= assessment_form.text_field :description, class: 'ml-2 form-input' %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Other Skills?', class: 'form-label' %>
      <p class='form-info'>Are there other crafts you love to do that we should know about?</p>
      <%= form.text_area :other_skills, size: "60x2", class: 'form-input' %>
    </div>
  </div>


  <% if Product.any? %>
    <div class="form-group">
      <div class="form-cell">
        <%= form.label 'What do you like to make?', class: 'form-label' %>
        <%= form.collection_check_boxes :product_ids, Product.all, :id, :name do |b| %>
          <%= b.label(class: 'form-label') do %>
            <%= b.check_box %>
            <%= b.object.name %>
            <% if b.object.description.present? %>
              (<%= b.object.description %>)
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Other Favorites?', class: 'form-label' %>
      <p class='form-info'>What else do you love to make?</p>
      <%= form.text_area :other_favorites, size: "60x2", class: 'form-input' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Never Again!', class: 'form-label' %>
      <p class='form-info'>Are there techniques or projects you do not wish to do ever again?</p>
      <%= form.text_area :dislikes, size: "60x2", class: 'form-input' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Sensitivities', class: 'form-label' %>
      <p class='form-info'>If we find out an unfinished project was in a house with a smoker or pets, do you want to avoid this project?</p>
      <label class="form-label"><%= form.check_box :no_smoke %> No smoke, please.</label>
      <label class='form-label'><%= form.check_box :no_pets %> No pets, please.</label>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Social Media', class: 'form-label' %>
      <p class='form-info'>Let us know where you are on Social Media if you like!</p>
      <%= form.text_area :social_media, size: "60x2", class: 'form-input' %>
    </div>
  </div>


  <div class="form-group">
    <div class="form-cell">

      <p class='form-info'>We may have the opportunity to talk about you or a project you're working on on social media.  Would that be OK?</p>
      <%= form.label 'can_publicize', class: 'form-label' do %>
        <%= form.check_box :can_publicize %>
        It's OK to post about me on Social Media!
      <% end %>
    </div>
  </div>


  <%= form.submit 'Submit', class: "btn-submit" %>
<% end %>