<%= form_with model: @volunteer, url: volunteer_path, class: 'my-16', data: { turbo: false } do |form| %>
  <%= render "error_messages", resource: @volunteer %>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3">
    <%= form.label 'Picture', class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= form.file_field :picture, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name' %>
    <% if @volunteer.picture.representable? %>
      <%= image_tag @volunteer.picture.representation( resize_to_limit: [200, 200]) %>
    <% end %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3">
    <%= form.label 'Tell us about yourself.', class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= form.text_area :description, size: "60x2", class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name' %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3">
      <%= form.label 'Street.', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_field :street, size: "60x2", class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name' %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3">
      <%= form.label 'Line 2', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_field :street_2, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name' %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6 md:w-1/2">
    <div class="w-full4 md:w-1/3 px-3">
      <%= form.label 'City', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_field :city, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name' %>
    </div>
    <div class="w-full md:w-1/3 px-3">
      <%= form.label 'State', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_field :state, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name' %>
    </div>
    <div class="w-full md:w-1/3 px-3">
      <%= form.label 'postal_code', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_field :postal_code, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name' %>
    </div>
  </div>

  <div class="flex flex-wrap -ml-3 mb-6 md:w-1/2">
    <div class="w-full px-3">
      <%= form.label 'country', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_field :country, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name' %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3">
      <%= form.label 'Availability', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_area :availability, size: "60x2", class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3">
      <%= form.label 'Preferences', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <p>What kind of projects would you like to finish?</p>
      <%= form.text_area :availability, size: "60x2", class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3">
      <%= form.label 'Dislikes', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <p>Are there techniques or projects you do not wish to do ever again?</p>
      <%= form.text_area :availability, size: "60x2", class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
    </div>
  </div>


  <% if Skill.any? %>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3">
      <%= form.label 'Skill Assessment', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <ul>
        <%= form.fields_for :assessments do |assessment_form| %>
          <li class="my-2">
            <%= assessment_form.label assessment_form.object.skill.name, class: 'block text-gray-700 text-sm font-bold mb-2' %>
            <div class=" flex">
            <%= assessment_form.hidden_field :skill_id, value: assessment_form.object.skill_id %>
            <%= assessment_form.number_field :rating, in: 1..10, class: ' mr-2 appearance-none block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
            <%= assessment_form.text_field :description, class: ' mr-2 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
            </div>
          </li>
        <% end %>
      </ul>

    </div>
    </div>
  <% end %>


  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3">
      <%= form.label 'Smoker OK?', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <p>Are you willing to receive an unfinished project from a deceased crafter who was a smoker? </p>
      <%= form.checkbox :can_handle_smoke, size: "60x2", class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
    </div>
  </div>



  <%= form.submit class: "btn btn-primary" %>
<% end %>