<%= form_with model: @volunteer, url: volunteer_path, html: { class: 'form' } do |form| %>
  <%= render "error_messages", resource: @volunteer %>

  <div class="form-group">
    <div class="form-cell">
    <%= form.label 'Tell us about yourself.', class: 'form-label required' %>
    <%= form.text_area :description, size: "60x4", class: 'form-input' %>
    </div>
  </div>

  <div class="form-row">
    <% if @volunteer.picture.representable? %>
      <div class="form-image">
        <%= image_tag @volunteer.picture.representation( resize_to_limit: [200, 200]) %>
      </div>
    <% end %>
    <div class="form-cell">
      <%= form.label 'Picture', class: 'form-label required' %>
      <%= form.file_field :picture, class: 'form-input', accept: "image/png,image/gif,image/jpeg,image/webp" %>
    </div>
  </div>

  <div class='form-section'>Mailing Address</div>
  <h3 class='form-info'>Where will you receive an unfinished project?</h3>
  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Street', class: 'form-label required' %>
      <%= form.text_field :street, class: 'form-input' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Line 2', class: 'form-label' %>
      <%= form.text_field :street_2, class: 'form-input' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-cell">
      <%= form.label 'City', class: 'form-label required' %>
      <%= form.text_field :city, class: 'form-input' %>
    </div>
    <div class="form-cell">
      <%= form.label 'State/Province', class: 'form-label required' %>
      <%= form.text_field :state, class: 'form-input' %>
    </div>
    <div class="form-cell">
      <%= form.label 'Postal code', class: 'form-label required' %>
      <%= form.text_field :postal_code, class: 'form-input' %>
    </div>
    <div class="form-cell">
      <%= form.label 'Country', class: 'form-label required' %>
      <%= form.text_field :country, class: 'form-input' %>
    </div>
  </div>


  <% if Skill.any? %>
    <div class="form-group">
      <div class="form-cell">
        <%= form.label 'Skill Assessment required', class: 'form-label' %>
        <p class="form-info">Rate yourself and add any other information you like!</p>
        <ul>
          <%= form.fields_for :assessments, @assessments do |assessment_form| %>
            <li class="my-2">
              <%= assessment_form.label assessment_form.object.skill.name, class: 'form-label' %>
              <% if assessment_form.object.skill.description.present? %>
                (<% assessment_form.object.skill.description %>)
              <% end %>
              <div class=" flex">
              <%= assessment_form.hidden_field :skill_id, value: assessment_form.object.skill_id %>
              <%= assessment_form.select :rating, [['', '0'],['Beginner', '1'],['Intermediate', '2'],['Expert', '3']], {}, { class: 'form-input w-1/3' } %>
              <%= assessment_form.text_field :description, class: 'ml-2 form-input', placeholder: "Tell us more..." %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>



  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Other Skills?', class: 'form-label' %>
      <p class='form-info'>Are there other crafts you love to do that we should know about?</p>
      <%= form.text_area :other_skills, size: "60x2", class: 'form-input' %>
    </div>
  </div>



  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'What is your dominant hand?', class: 'form-label required' %>
      <p class='form-info'>Lefty or Righty?</p>
      <%= form.select :dominant_hand, ['Lefty', 'Righty'], { include_blank: true}, { class: 'form-input w-1/3' } %>
    </div>
  </div>

  <% if Product.any? %>
    <div class="form-group">
      <div class="form-cell">
        <%= form.label 'What do you like to make?', class: 'form-label' %>
        <%= form.collection_check_boxes :product_ids, Product.all, :id, :name do |b| %>
          <%= b.label(class: 'form-label') do %>
            <%= b.check_box %>
            <%= b.object.name %>
            <% if b.object.description.present? %>
              (<%= b.object.description %>)
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Tell us your favorite thing to make', class: 'form-label' %>
      <p class='form-info'>No parent has a favorite child, or do they?</p>
      <%= form.text_area :other_favorites, size: "60x2", class: 'form-input' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Finished Projects', class: 'form-label' %>
      <p class="form-info">Please upload photos of projects you've done that you like.  </p>
      <%= form.file_field :append_finished_projects, class: 'form-input', accept: "image/png,image/gif,image/jpeg,image/webp",  :multiple => true %>
      <% form.object.finished_projects.each do |image| %>
        <%= image_tag image.representation( resize_to_limit: [100, 100]), class: 'thumbnail' %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Never Again!', class: 'form-label' %>
      <p class='form-info'>Are there techniques or projects you do not wish to do ever again?</p>
      <%= form.text_area :dislikes, size: "60x2", class: 'form-input' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Sensitivities', class: 'form-label' %>
      <p class='form-info'>If we find out an unfinished project was in a house with a smoker or pets, do you want to avoid this project?</p>
      <label class="form-label"><%= form.check_box :no_smoke %> No smoke, please.</label>
      <label class='form-label'><%= form.check_box :no_cats %> No cats, please.</label>
      <label class='form-label'><%= form.check_box :no_dogs %> No dogs, please.</label>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Social Media', class: 'form-label' %>
      <p class='form-info'>Use this space to share your Ravelry, Instagram or Facebook account (optional).</p>
      <%= form.text_area :social_media, size: "60x2", class: 'form-input' %>
    </div>
  </div>


  <div class="form-group">
    <div class="form-cell">

      <p class='form-info'>Can we post a welcome post about you on our social media? We will use the picture from above.
        There's no obligation to do this but we'd love to show you off.</p>
      <%= form.label 'can_publicize', class: 'form-label' do %>
        <%= form.check_box :can_publicize %>
        It's OK to post about me on social media!
      <% end %>
    </div>
  </div>

  <% if !@volunteer.persisted? %>
    <div class="form-group">
      <div class="form-cell">
        <%= form.label 'terms_of_use', class: 'form-label required' %>
        <label>
          <%= form.check_box :terms_of_use %> By checking this box I hold harmless Loose Ends Project from any and all claims, lawsuits, demands, causes of action, liability, loss, damage, and/or injury of any kind.
        </label>
      </div>
    </div>
  <% end %>


  <%= form.submit 'Submit', class: "btn-submit" %>
<% end %>