%h1.page-title
  = @volunteer.name

- if @volunteer.missing_information?
  .alert.alert-info
    Before we can connect you with projects, we need a little more information

.row
  .col-12.col-md-5.col-lg-4.mr-6
    - if @volunteer.picture.representable?
      = image_tag @volunteer.picture.representation( resize_to_limit: [450, 400]), class: 'img-fluid'

    .page-section

      %h4
        .row
          .col-9
            About Me
          .col-3
            = link_to 'Edit', [:edit_profile, :volunteer], class: 'btn btn-link float-end btn-sm'
      - if @volunteer.description.blank?
        %p.text-info Please give more information about yourself
      %p= @volunteer.description

    .page-section
      %p= @volunteer.social_media


    .d-md-none
      %hr/
  .col-12.col-md-7.col-lg-8
    .page-section
      %h4
        .row
          .col-9
            Mailing Address
          .col-3
            = link_to 'Edit', [:edit_address, :volunteer], class: 'btn btn-link float-end btn-sm'
      - if @volunteer.street.blank? && @volunteer.city.blank? && @volunteer.state.blank? && @volunteer.postal_code.blank?
        %p You must enter a mailing address to receive projects.
      - if @volunteer.street.present?
        .row
          .col-12= @volunteer.street
      - if @volunteer.street_2.present?
        .row
          .col= @volunteer.street_2

      - if @volunteer.city.present?
        .row
          .col
            #{@volunteer.city}, #{@volunteer.state} #{@volunteer.postal_code}
      - if @volunteer.state.present? && @volunteer.country.present?
        .row
          .col= @volunteer.country
    %hr/


    .page-section
      %h4
        Skills
        = link_to 'Edit', [:edit_skills, :volunteer], class: 'btn btn-link float-end btn-sm'

      - if @volunteer.dominant_hand.blank?
        %p.text-info Please enter dominant hand
      - else
        %p= @volunteer.dominant_hand

      - if @volunteer.missing_assessments?
        %p.text-info Please enter assessments
      - else
        %ul
          - @volunteer.assessments.where(rating: 1..).each do |assessment|
            %li
              #{assessment.skill.name}: #{Skill[assessment.rating].to_s.humanize}. #{assessment.description}

      %p= @volunteer.other_skills

      - if @volunteer.no_smoke || @volunteer.no_cats || @volunteer.no_dogs
        .page-section
          %b Sensitivities
          %ul
            - if @volunteer.no_smoke
              %li No Smoke Please
            - if @volunteer.no_cats
              %li No Cats Please
            - if @volunteer.no_dogs
              %li No Dogs Please
    %hr/
    .page-section
      %h4
        Favorites
        = link_to 'Edit', [:edit_projects, :volunteer], class: 'btn btn-link float-end btn-sm'
      %ul
        - @volunteer.favorites.each do |favorite|
          %li= favorite.product.name
      .page-section
        %p= @volunteer.other_favorites
      - @volunteer.finished_projects.each do |image|
        .removeable_image
          = link_to image_tag(image.representation( resize_to_limit: [100, 100]), class: 'thumbnail'), url_for(image.variant(format: :jpg))
          = button_to fa_icon("trash"), volunteer_path({ finished_project_id: image.id }), method: :delete, :onclick => "return confirm('Are you sure?')", class: 'icon'
      - if @volunteer.dislikes.present?
        .page-section
          %h4 Never Again!
          %p= @volunteer.dislikes
