= form_with model: @volunteer, url: [:manage, @volunteer] do |form|
  = render "error_messages", resource: @volunteer
  .row
    .col-4
      = form.label :approved do
        = form.check_box :approved
        Approved

  .row
    .col-4
      = form.label :notes
      = form.text_area :admin_notes, rows: 10, class: 'form-control'

  .form-actions
    = form.submit class: "btn btn-primary"
