.col-6.col-sm-6.col-md-4.col-lg-3.col-xl-3.col-xxl-2
  .card.mb-4
    - if volunteer.unavailable
      .unavailable
        Unavailable
    .dominant-hand{ class: volunteer.dominant_hand[0] }
      = volunteer.dominant_hand[0]
    - if volunteer.picture.representable?
      = link_to image_tag(volunteer.picture.representation( resize_to_limit: [300, 300]), class: 'card-img-top'), [:manage, volunteer]
    - else
      = link_to image_tag('volunteer.png', class: 'card-img-top'), [:manage, volunteer]
    .card-body
      %h6.card-title.row.align-items-center
        = link_to volunteer.chosen_name, [:manage, volunteer]
      .since
        %b Since:
        = l(volunteer.joined_on) if volunteer.joined_on
      .skills
        %b Skills:
        = volunteer.assessments.map{|assessment| "#{assessment.skill.name} (#{assessment.rating})"}.join(', ')
      .favorites
        .row
          %b.col-10 Favorites:
          .col-2
            %button.btn.btn-link.p-0{"data-bs-target" => "##{dom_id(volunteer)}", "data-bs-toggle" => "modal", type: "button"}
              = fa_icon('comment')
        = volunteer.products.map{|fav| fav.name}.join(', ')

    .card-footer
      #{volunteer.city}, #{volunteer.state}

  .modal.fade{ "id" => dom_id(volunteer), "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          .row
            .col-12
              %b
                = volunteer.chosen_name

              #{volunteer.city}, #{volunteer.state}

          %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
        .modal-body
          %h5 About Me
          = volunteer.description
          - if volunteer.admin_notes.present?
            %h5 Admin Notes
            = volunteer.admin_notes
