%h1.page-title
  = @volunteer.name

  - if @volunteer.approved
    (Approved)
  - if @volunteer.unavailable
    (Unavailable)

  = link_to 'Edit Volunteer', [:edit, :manage, @volunteer], class: 'btn btn-outline-secondary float-end'


.row
  .col-3
    %div
      Dominant Hand:
      = @volunteer.dominant_hand
    %div
      Since:
      = @volunteer.joined_on

    - if @volunteer.picture.representable?
      = image_tag @volunteer.picture.representation( resize_to_limit: [300, 300]), class: 'w-100'
    .page-section
      %b Email
      = @volunteer.user.email
    .page-section
      %b Phone
      = @volunteer.user.phone
    .page-section
      %b Pronouns
      = @volunteer.pronouns
    .page-section
      %b Mailing Address
      .street= @volunteer.street
      - if @volunteer.street_2.present?
        .street2= @volunteer.street_2
      .city-state-zip
        = @volunteer.city
        , #{@volunteer.state} #{@volunteer.postal_code}
      .country= @volunteer.country


  .col-6
    .page-section
      %h4 Favorites
      %ul
        - @volunteer.favorites.each do |favorite|
          %li= favorite.product.name
    %hr/
    .page-section
      %h4 Skills
      %ul
        - @volunteer.assessments.where(rating: 1..).each do |assessment|
          %li
            = assessment.skill.name
            \: #{Skill[assessment.rating].to_s.humanize}. #{assessment.description}
    %hr/
    - if @volunteer.no_smoke || @volunteer.no_cats || @volunteer.no_dogs
      .page-section
        %h4 Sensitivities
        %ul
          - if @volunteer.no_smoke
            %li No Smoke Please
          - if @volunteer.no_cats
            %li No Cats Please
          - if @volunteer.no_dogs
            %li No Dogs Please
      %hr/
    .page-section
      %h4 About Me
      %p= @volunteer.description
    %hr/
    .page-section
      %h4 Other Skills
      %p= @volunteer.other_skills
    %hr/
    .page-section
      %h4 Other Favorites
      %p= @volunteer.other_favorites
    - @volunteer.finished_projects.each do |image|
      .removeable_image
        = link_to image_tag(image.representation( resize_to_limit: [100, 100]), class: 'thumbnail'), url_for(image.variant(format: :jpg))
        = button_to fa_icon("trash"), volunteer_path({ finished_project_id: image.id }), method: :delete, :onclick => "return confirm('Are you sure?')", class: 'icon'
    %hr/
    .page-section
      %h4 Never Again!
      %p= @volunteer.dislikes
    %hr/
    .page-section
      %h4 Social Media!
      %p= @volunteer.social_media
    %hr/
  .col-3

    = render @volunteer.assignments

    .page-section
      %h4 Notes
    = @volunteer.admin_notes