- format ||= 'inbound'

%table.table.table-sm
  %thead
    %tr
      %th Date
      %th #{ format == 'inbound' ? 'From' : 'To' }
      %th Attached to
      %th Subject
  %tbody
    - messages.each do |m|
      %tr
        %td= m.email_headers["date"]
        %td #{ format == 'inbound' ? m.email_headers["from"]&.join(", ") : m.email_headers["to"]&.join(", ") }
        %td
          %a(href="#{m.path_to_messageable}") #{m.description}
        %td
          %a(href="/message/#{m.id}") #{m.email_headers["subject"]}
