#messages.row.mt-4
  %hr
  .col
    %h4 Messages
    .mb-3
      %span To attach an email to this #{resource.class}, send to
      %span
        %b{ data: { controller: 'clipboard' } }
          %a#email_address(href="mailto:#{resource.inbound_email_address}") #{resource.inbound_email_address}

- if resource.messages.any?
  .d-flex.flex-column
    %table
      %thead
        %tr
          %th Date
          %th From
          %th Subject
          %th.text-center Attachments
          %th.text-end Size
          %th &nbsp;
      %tbody
        - resource.messages.order(created_at: :desc).each do |message|
          - next unless message.valid_headers?
          %tr
            %td= DateTime.parse(message.email_headers["date"]).to_formatted_s(:compact)
            %td= message.email_headers["from"]&.join(", ")
            %td= link_to message.email_headers["subject"], message
            %td.text-center= message.email_headers["attachments"] > 0 ? fa_icon("paperclip") : ""
            %td.text-end= number_to_human_size(message.email_headers["size"], precision: 2)
            %td
              // TODO action buttons (view, delete)