#messages.row.mt-4
  %hr
  .col
    %h4 Messages
    .mb-3
      %span To attach an email to this #{resource.class}, send to
      %span
        %b{ data: { controller: 'clipboard' } }
          %a#email_address(href="mailto:#{resource.inbound_email_address}") #{resource.inbound_email_address}

- if resource.messages.any?
  .d-flex.flex-column
    %table
      %thead
        %tr
          %th Sent
          %th Recorded
          %th From
          %th Subject
          %th &nbsp;
      %tbody
        - resource.messages.each do |message|
          %tr
            %td= message.email.date.to_s
            %td= message.created_at.to_s
            %td= message.email.from
            %td= link_to message.email.subject, message
            %td
              // TODO action buttons (view, delete)