%button.btn.btn-primary.mb-4(onclick="history.back()") Back

- if @message.email_source.attached?
  %table.table.table-sm.table-borderless
    %tbody
      %tr
        %td Date
        %td= @message.email.date
      %tr
        %td To
        %td= @message.email.to.is_a?(String) ? @message.email.to : @message.email.to.join(', ')
      %tr
        %td From
        %td= @message.email.from.first
      %tr
        %td Subject
        %td= @message.email.subject

  - if @message.email.text_part.present?
    %p.pt-3.fw-bold Text Part
    %p.pt-0
      %pre= @message.email.text_part.body.to_s

  / HACK temporary until encoding issue is resolved
  / - if @message.email.html_part.present?
  /   %p.pt-3.fw-bold HTML Part
  /   %p.pt-0= sanitize @message.email.html_part.body.to_s

  %p.pt-3.fw-bold Raw Source
  %pre= @message.email.raw_source

  %hr

  .row
    - @message.email.attachments.each do |attachment|
      .col-4
        %img.img-fluid(src="data:#{attachment.content_type};base64,#{Base64.encode64(attachment.body.decoded).html_safe}")
        %figcaption.figure-caption= attachment.content_type

- else
  .pt-0.fst-italic [no content]
