%button.btn.btn-primary.mb-4(onclick="history.back()") Back

.pt-3= @message.email.date
.pt-0 To: #{@message.email.to.join(', ')}
.pt-0 From: #{@message.email.from.first}
.pt-2
  %b #{@message.email.subject}

.pt-0 &nbsp;
- if @message.email.text_part.present?
  .pt-0
    %pre= @message.email.text_part.body.decoded
- elsif @message.email.html_part.present?
  .pt-0= @message.email.html_part.body.decoded.html_safe
- else
  .pt-0 [no content]
