%button.btn.btn-primary.mb-4(onclick="history.back()") Back

- if @message.email_source.attached?
  .row
    .col
      %table.table.table-sm.table-borderless
        %tbody
          %tr
            %td Date
            %td= @message.email.date
          %tr
            %td To
            %td= @message.email.to.is_a?(String) ? @message.email.to : @message.email.to.join(', ')
          %tr
            %td From
            %td= @message.email.from.first
          %tr
            %td Subject
            %td= @message.email.subject


  - if @message.email.html_part.present?
    .row
      .col
        %p.pt-3.fw-bold HTML Part
        %p.pt-0= @message.email.html_part.decoded.html_safe

        %hr

  .row
    - @message.email.attachments.each do |attachment|
      .col-4
        %img.img-fluid(src="data:#{attachment.content_type};base64,#{Base64.encode64(attachment.body.decoded).html_safe}")
        %figcaption.figure-caption= attachment.content_type

  - if @message.email.text_part.present?
    .row
      .col
        %p.pt-3.fw-bold Text Part
        %p.pt-0
          %pre= @message.email.text_part.decoded

        %hr

  %hr
  .row
    .col
      %p.pt-3.fw-bold Raw Source
      %pre= @message.email.raw_source

- else
  .pt-0.fst-italic [no content]
