= form_for [:admin, @skill] do |form|
  = render "error_messages", resource: @skill
  .row
    .col-3
      = form.label 'Name'
      = form.text_field :name, class: 'form-control'
    .col-3
      = form.label 'Position'
      = form.text_field :position, class: 'form-control'
  .row
    .col-6
      = form.label 'Description'
      = form.text_area :description, size: "60x3", class: 'form-control'
  .form-actions
    = form.submit class: "btn btn-primary"
