.row
  .col-6
    %h3 Hello, #{@note.notable.finisher.name}

    .fw-bold How is the project "#{@note.notable.project.name}" going right now?

    = form_with url: check_in_path(@note.notable), model: @note do |f|

      - Note::SENTIMENTS.keys.map do |key|
        .pt-3.form-check.form-check-inline
          = f.radio_button :sentiment, key, class: "radio"
          = f.label "headline_#{key}".to_sym, key.titleize

      .fw-bold Whazzup?
      = f.text_area :text, size: "50x4"

      = f.submit "Submit", class: "btn btn-primary"
