%h1.page-title Sign up
.row.mb-4
  .col-sm-8.my-auto
    %h3 If you are already a finisher, do this...
    %p
      If you have already signed up as a finisher and you don't know your password, you may have your password sent to you.
      = link_to "Send reset password instructions", new_password_path(resource_name)
= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo_method: :post, turbo: false }) do |f|
  = render "error_messages", resource: resource

  .row.g-1.g-sm-4
    .col-6.col-sm-5.col-md-4
      = f.label :first_name,  'First Name', class: 'col-form-label required'
      = f.text_field :first_name, autofocus: true, autocomplete: "given-name", class: 'form-control'
    .col-6.col-sm-5.col-md-4
      = f.label :last_name, 'Last name', class: 'col-form-label required'
      = f.text_field :last_name, autocomplete: "family-name", class: 'form-control'
  .row.g-1.g-sm-4
    .col-12.col-sm-10.col-md-8
      = f.label :email, class: 'col-form-label required'
      = f.email_field :email, autocomplete: "email", class: 'form-control'
  .row.g-1.g-sm-4
    .col-12.col-sm-10.col-md-8
      = f.text_field :heard_about_us, class: 'hidden', id: 'heard-about-us'
      = f.label 'Where did you hear about us?', class: 'col-form-label required'
      = f.select :heard_about_us, User::HEARD_ABOUT_US_OPTIONS, { :include_blank => true }, { class: 'form-select', id: 'heard-about-us-select', name: 'heard-about-us-select' }
  .row.g-1.g-sm-4.hidden#heard-container
    .col-12.col-sm-10.col-md-8
      = f.label 'Please provide details on how you heard about us', class: 'col-form-label required'
      = f.text_field :heard_about_us, class: 'form-control', id: 'heard-about-us-other', name: 'heard-about-us-other'
  .row.g-1.g-sm-4
    .col-12.col-sm-10.col-md-8
      = f.label :password, class: 'col-form-label required'
      = f.password_field :password, autocomplete: "new-password", class: 'form-control w-2/3 md:w-1/2'
      - if @minimum_password_length
        .form-hint
          (#{@minimum_password_length} characters minimum)
  .row.g-1.g-sm-4.mb-4
    .col-12.col-sm-10.col-md-8
      = f.label :password_confirmation, class: 'col-form-label required'
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control w-2/3 md:w-1/2'


  = f.submit "Sign up", class: "btn btn-primary me-3"
  = link_to "Sign in", new_user_session_path

:javascript
  $('#heard-about-us-select').on('change', () => {
    if ( $('#heard-about-us-select').val() == 'Other' ) {
      $('#heard-about-us').val('');
      $('#heard-container').show();
    } else {
      $('#heard-container').hide();
      $('#heard-about-us').val( $('#heard-about-us-select').val() );
    }
  });

  $('#heard-about-us-other').on('change', () => {
    $('#heard-about-us').val( $('#heard-about-us-other').val() );
  });