= render 'title', title: 'Dashboard'
.container
  .row
    .col-2
      = link_to 'Volunteers', manage_volunteers_path
    .col-2
      Count: #{Volunteer.count}
    .col-2
      Approved: #{Volunteer.approved.count}
  .row
    .col-2
      = link_to 'Projects', manage_projects_path
    .col-2
      Proposed: #{Project.proposed.count}
    .col-2
      Approved: #{Project.approved.count}
    .col-2
      In Progress: #{Project.in_progress.count}
    .col-2
      Finished: #{Project.finished.count}
