= render 'title', title: 'Dashboard'
.container
  .row
    .col-2
      = link_to 'Finishers', manage_finishers_path
      = link_to 'Map', map_manage_finishers_path
    .col-2
      Count: #{Finisher.count}
    .col-2
      Approved: #{Finisher.approved.count}
  .row
    .col-2
      = link_to 'Assignments', manage_assignments_path
    .col-2
      Count: #{Assignment.count}
    .col-2
      Active: #{Assignment.active.count}
  .row
    .col-2
      = link_to 'Projects', manage_projects_path
    .col-6.fst-italic Numbers removed pending redesign

  .row.pt-3
    .col
      = render partial: "projects_needing_attention"

  .row.pt-3
    .col
      = render partial: "recent_notes"

  .row.pt-3
    .col
      = render partial: 'mail_traffic_dashboard'

  .row.pt-3
    .col
      = render partial: "job_logs_dashboard"
      .pt-0= link_to 'Manage queues', 'jobs'
      .pt-0= link_to "Inbound Emails", "inbound_emails#index"

  - if Rails.env.development?
    = render partial: 'email_previews'

  .row.pt-3
    .col
      %hr
      %h3 Reports
      .pt-0= link_to 'Heard About Us', 'reports/heard_about_us'
