= render 'title', title: 'Dashboard'
.container
  .row
    .d-grid.gap-2.d-md-block
      = link_to 'Projects', manage_projects_path, class: "btn btn-primary"
      = link_to 'Finishers Map', map_manage_finishers_path, class: "btn btn-primary"
      = link_to 'Finishers Search', manage_finishers_path, class: "btn btn-primary"
      = link_to "Reports", manage_reports_path, class: "btn btn-primary"

  .row
    .col
      %hr
      %h2 Active Projects by Status
      .pt-0= bar_chart manage_reports_active_projects_by_status_path

  .row.pt-3
    .col
      = render partial: "projects_needing_attention"

  .row.pt-3
    .col
      = render partial: "recent_notes"

  .row.pt-3
    .col
      = render partial: "messages"

  .row.pt-3
    .col
      = render partial: "job_logs_dashboard"
      .pt-0= link_to 'Manage queues', 'jobs'
      .pt-0
        = link_to "Failed Inbound Emails", "inbound_emails#index"
        - failed_inbound_count = ActionMailbox::InboundEmail.failed.count
        - if failed_inbound_count > 0
          %span.badge.rounded-pill.bg-danger #{failed_inbound_count}

  - if Rails.env.development?
    = render partial: 'email_previews'
