= render 'title', title: 'Dashboard'
.container
  .row
    .col-2
      = link_to 'Finishers', manage_finishers_path
      = link_to 'Map', map_manage_finishers_path
    .col-2
      Count: #{Finisher.count}
    .col-2
      Approved: #{Finisher.approved.count}
  .row
    .col-2
      = link_to 'Assignments', manage_assignments_path
    .col-2
      Count: #{Assignment.count}
    .col-2
      Active: #{Assignment.active.count}
  .row
    .col-2
      = link_to 'Projects', manage_projects_path
    .col-2
      Proposed: #{Project.proposed.count}
    .col-2
      In Progress: #{Project.on_hold.count + Project.project_confirmation_email_sent_ready_to_match.count + Project.finisher_invited.count + Project.rematch.count + Project.project_accepted.count + Project.introduced.count + Project.humming_along.count + Project.unresponsive.count + Project.f2f_rematch.count}
    .col-2
      Done: #{Project.done.count}
