= render 'title', title: 'Dashboard'
.container
  .row
    .col-2
      = link_to 'Finishers', manage_finishers_path
      = link_to 'Map', map_manage_finishers_path
    .col-2
      Count: #{Finisher.count}
    .col-2
      Approved: #{Finisher.approved.count}
  .row
    .col-2
      = link_to 'Assignments', manage_assignments_path
    .col-2
      Count: #{Assignment.count}
    .col-2
      Active: #{Assignment.active.count}
  .row
    .col-2
      = link_to 'Projects', manage_projects_path
    .col-2
      Proposed: #{Project.proposed.count + Project.submitted_via_google.count}
    .col-2
      In Progress: #{Project.on_hold.count + Project.project_confirm_email_sent.count + Project.ready_to_match.count + Project.finisher_invited.count + Project.project_accepted_waiting_on_terms.count + Project.introduced.count + Project.in_process.count + Project.will_not_do.count + Project.unresponsive.count + Project.waiting_for_return_to_rematch.count + Project.weird_circumstance.count}
    .col-2
      Done: #{Project.done.count}

  .row.pt-3
    .col-6
      %hr
      %h3 Email Template Previews
      %p See examples of automated emails users will receive.
      %ul
        %li
          %a(href="/rails/mailers/devise/mailer/confirmation_instructions") Email confirmation instructions
          %span [to any user after account registration.  User will not receive additional emails until this is confirmed.]
        %li
          %a(href="/rails/mailers/devise/mailer/reset_password_instructions") Reset password instructions
          %span [to any user after clicking "Forgot Password"]
        %li
          %a(href="/rails/mailers/finisher_mailer/welcome") Finisher welcome
          %span [to Finisher after initial registration]
        %li
          %a(href="/rails/mailers/finisher_mailer/profile_complete") Finisher profile complete
          %span [to Finisher after completing profile]
  .row.pt-3
    .col-2
      %h3 Reports
      = link_to 'Heard About Us', 'reports/heard_about_us'

