= render 'title', title: 'Dashboard'
.container
  .row
    .col-2
      = link_to 'Finishers', manage_finishers_path
    .col-2
      Count: #{Finisher.count}
    .col-2
      Approved: #{Finisher.approved.count}
  .row
    .col-2
      = link_to 'Assignments', manage_assignments_path
    .col-2
      Count: #{Assignment.count}
    .col-2
      Active: #{Assignment.active.count}
  .row
    .col-2
      = link_to 'Projects', manage_projects_path
    .col-2
      Proposed: #{Project.proposed.count}
    .col-2
      Approved: #{Project.approved.count}
    .col-2
      In Progress: #{Project.in_progress.count}
    .col-2
      Finished: #{Project.finished.count}
