%h1.page-title Change your password
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, data: { turbo: false } }) do |f|
  = render "devise/shared/error_messages", resource: resource
  = f.hidden_field :reset_password_token
  .row.my-3
    = f.label :password, "New password", class: 'col-form-label col-sm-2'
    .col-sm-4
      = f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control'
    - if @minimum_password_length
      .col-sm-4.form-text
        (#{@minimum_password_length} characters minimum)
  .row.my-3
    = f.label :password_confirmation, "Confirm new password", class: 'col-form-label col-sm-2'
    .col-sm-4
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
  .row.form-actions
    .col.offset-2
      = f.submit "Change my password", class: "btn btn-primary"
