<h1 class="page-title">Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input w-2/3 md:w-1/2' %>
  </div>

  <div class="actions">
    <%= f.submit "Send reset password instructions", class: "btn-submit" %>
  </div>
<% end %>

