= turbo_frame_tag(dom_id(note)) do
  .note.my-2
    .note-header.small.d-flex.ms-au.align-items-center.border-bottom-1.border-dark
      .note-author
        = note.user.name
      = button_to fa_icon('remove'), manage_project_note_path(note.notable, note), method: :delete, class: 'btn btn-link p-0', form_class: 'd-inline m-0 ms-auto'
    .note-body
      = note.text
    .note-footer.small
      = l(note.created_at, format: :short)
