= form_with model: @finisher, url: finisher_path, html: { class: 'form' } do |form|
  = render "error_messages", resource: @finisher
  .my-4
    %h5 Your Mailing Address
    .row.mb-3
      .form-info Where will you receive an unfinished project?
    .row.mb-3
      .col-12.col-md-10.col-lg-8
        %ul.nav.nav-tabs
          %li.nav-item
            %button#usButton{:class => "nav-link #{'active' if form.object.country == 'US' || form.object.country.blank?}", :onclick => "setCountry('us')", :type => "button"} US
          %li.nav-item
            %button#caButton{:class => "nav-link #{'active' if form.object.country == 'CANADA'}", :onclick => "setCountry('ca')", :type => "button"} Canada
          %li.nav-item
            %button#otButton{:class => "nav-link #{'active' if form.object.country.present? && form.object.country != 'US' && form.object.country != 'CANADA'}", :onclick => "setCountry('ot')", :type => "button"} Not US or Canada

    #country_ui.row{ class: ("hidden" if form.object.country == 'US' || form.object.country == 'CANADA') }
      .col-4
        = form.label 'Country', class: 'form-label required'
        = form.text_field :country, class: 'form-control'
    .row.my-2
      .col-12.col-md-10.col-lg-8
        = form.label 'Street', class: 'form-label required'
        = form.text_field :street, class: 'form-control'
    .row.my-2
      .col-12.col-md-10.col-lg-8
        = form.label 'Line 2', class: 'form-label'
        = form.text_field :street_2, class: 'form-control'
    .row.my-2
      .col-4.col-lg-3
        = form.label 'City', class: 'form-label required'
        = form.text_field :city, class: 'form-control'
      #usState.col-4.col-md-3{ class: ("hidden" unless form.object.country == 'US') }
        = form.label 'State', class: 'form-label required'
        = form.select :state, STATES,                      |
          { include_blank: true }, { class: 'form-select' } |
      #caState.col-4.col-md-3{ class: ("hidden" unless form.object.country == 'CANADA') }
        = form.label 'Province', class: 'form-label required'
        = form.select :state, PROVINCES, { include_blank: true }, { class: 'form-select' }
      #otState.col-4.col-md-3{ class: ("hidden" if form.object.country.in?(['US', 'CANADA']) ) }
        = form.label 'State/Province', class: 'form-label required'
        = form.text_field :state, class: 'form-control', id: 'state_ot'
      .col-4.col-sm-4.col-md-3.col-lg-2
        = form.label "Postal code", class: 'form-label required'
        = form.text_field :postal_code, class: 'form-control'

  = form.submit 'Submit', class: "btn btn-primary"
  = link_to "Cancel", :finisher, class: "btn btn-link"

:javascript
  const prefixes = ['us', 'ca', 'ot']

  const selectButton = (selected) => {
      prefixes.forEach(p => {
          const button = document.querySelector('#' + p + 'Button')
          if (selected === p) {
              button.classList.add('active')
          } else {
              button.classList.remove('active')
          }
      })
  };

  const showState = (selected) => {
      prefixes.forEach(p => {
          const state = document.querySelector('#' + p + 'State')
          if (selected === p) {
              state.style.display = "block"
              state.querySelector('select, input').disabled = false;
          } else {
              state.style.display = "none"
              state.querySelector('select, input').disabled = true;
              state.querySelector('select, input').value = '';
          }
      })
  };

  const showCountry = (selected) => {
      const countryinput = document.querySelector('#finisher_country');
      const countryField = document.querySelector('#country_ui');
      if (selected === 'us') {
          countryinput.value = 'US';
          countryField.style.display = "none"
      } else if (selected === 'ca') {
          countryinput.value = 'CANADA';
          countryField.style.display = "none"
      } else {
          countryinput.value = '';
          countryField.style.display = "block"
      }
  }

  const setCountry = (val) => {
      if (prefixes.includes(val)) {
          selectButton(val);
          showState(val);
          showCountry(val);
      } else if (val) {
          setCountry('ot')
      } else {
          setCountry('us')
      }

  }
  const initializeAddress = () => {
      setCountry('#{@finisher.country.present? ? @finisher.country&.downcase : ''}')
  }

  document.addEventListener("turbo:load", initializeAddress)