= form_with model: @finisher, url: finisher_path, html: { class: 'form' } do |form|
  = render "error_messages", resource: @finisher
  .my-4
    %h5 Your Mailing Address
    .row.mb-3
      .form-info Where will you receive an unfinished project?

    = render :partial => 'layouts/address_form', :locals => { form: form }

  = form.submit 'Submit', class: "btn btn-primary"
  = link_to "Cancel", :finisher, class: "btn btn-link"
