= form_with model: @finisher, url: finisher_path, html: { class: 'form' } do |form|
  = render "error_messages", resource: @finisher

  - if Product.any?
    .row.g-1.g-sm-4.mb-3
      .col-12.col-md-9
        = form.label 'What do you like to make?', class: 'form-label required'
        = form.collection_check_boxes :product_ids, Product.all, :id, :name do |b|
          .row
            = b.label(class: 'form-label') do
              = b.check_box
              = b.object.name
              - if b.object.description.present?
                (#{b.object.description})
  .row.g-1.g-sm-4.mb-3
    .col-12.col-md-9
      = form.label 'Do you have favorites?', class: 'form-label optional'
      = form.text_area :other_favorites, size: "60x3", class: 'form-control'
  .row.g-1.g-sm-4.mb-3
    .col-12.col-md-9
      = form.label "Things you've finished", class: 'form-label optional'
      .form-info Add up to 5 photos of your work. This helps us match the right projects to the right people.
      = form.file_field :append_finished_projects, class: 'form-control', accept: "image/png,image/gif,image/jpeg,image/webp,image/heic",  :multiple => true
      - form.object.finished_projects.each do |image|
        - if image.persisted? && image.representable?
          = image_tag image.representation( resize_to_limit: [100, 100]), class: 'thumbnail', target: '_blank'
  .row.g-1.g-sm-4.mb-3.mb-3
    .col-12.col-md-9
      %b= form.label 'Please, Never Again!', class: 'form-label optional'
      .form-info Are there techniques or projects you would rather avoid?
      = form.text_area :dislikes, size: "60x3", class: 'form-control'

  = form.submit 'Submit', class: "btn btn-primary"
  = link_to "Cancel", :finisher, class: "btn btn-link"
