= form_with model: @finisher, url: finisher_path, html: { class: 'form' } do |form|
  = render "error_messages", resource: @finisher
  .row.g-1.g-sm-4.mb-3
    .col-12.col-xl-4.col-lg-5.col-md-6
      = form.label 'Name', class: 'form-label required'
      = form.text_field :chosen_name, class: 'form-control'
    .col-12.col-xl-2.col-lg-3.col-md-4
      = form.label 'Pronouns', class: 'form-label optional'
      = form.text_field :pronouns, class: 'form-control'
  .row.g-1.g-sm-4
    .col-12.col-xl-4.col-lg-5.col-md-6
      = form.label 'Phone Number', class: 'form-label required'
      = form.text_field :phone_number, class: 'form-control'
  .row.my-4
    .col-xl-6.col-lg-8.col-md-10
      = form.label 'Tell us about yourself', class: 'form-label required'
      = form.text_area :description, size: "60x4", class: 'form-control'

  - if @finisher.picture.representable?
    .row.g-1.g-sm-4
      .col-xl-6.col-lg-8.col-md-10
        .form-image
          = image_tag @finisher.picture.representation( resize_to_limit: [200, 200])
  .row.g-1.g-sm-4.mb-4
    .col-xl-6.col-lg-8.col-md-10
      = form.label 'A Photo of you', class: 'form-label optional'
      = form.file_field :picture, class: 'form-control', accept: "image/png,image/gif,image/jpeg,image/webp"
  .row.g-1.g-sm-4.mb-4
    .col-xl-6.col-lg-8.col-md-10
      = form.label 'Social Media', class: 'form-label optional'
      .form-info Use this space to share your Ravelry, Instagram or Facebook account (optional).
      = form.text_area :social_media, size: "60x3", class: 'form-control'
  .row.g-1.g-sm-4.mb-4
    .col-12.col-xl-4.col-lg-5.col-md-6
      = form.label 'Do you work for a company that matches charitable donations or volunteer hours?', class: 'form-label required'
      = form.select :has_workplace_match, [['Yes', true], ['No', false], ["I don't know", nil]], {}, {:class => 'form-select'}
  .row.g-1.g-sm-4.mb-4
    .col-12.col-xl-4.col-lg-5.col-md-6
      = form.label 'If you do work outside the home what company do you work for?', class: 'form-label optional'
      = form.text_field :workplace_name, class: 'form-control'

  .row.g-1.g-sm-4
    .col-xl-6.col-lg-8.col-md-10
      .form-info
        Can we post a welcome post about you on our social media? We will use the picture from above.
        There's no obligation to do this but we'd love to show you off.
  .row.g-1.g-sm-4.mb-3
    .col-xl-6.col-lg-8.col-md-10
      = form.label 'can_publicize', class: 'form-label' do
        = form.check_box :can_publicize
        It's OK to post about me on social media!
  - if !@finisher.persisted?
    .row.g-1.g-sm-4.mb-3
      .col-xl-8.col-md-10
        = form.label 'terms_of_use', class: 'form-label required' do
          = form.check_box :terms_of_use
          By checking this box I hold harmless Loose Ends Project from any and all claims, lawsuits, demands, causes of action, liability, loss, damage, and/or injury of any kind.
  = form.submit 'Submit', class: "btn btn-primary"
  = link_to "Cancel", :finisher, class: "btn btn-link"
