= form_with model: @finisher, url: finisher_path, html: { class: 'form' } do |form|
  = render "error_messages", resource: @finisher
  - if Skill.any?
    .row.g-1.g-sm-4.mb-3
      .col
        = form.label 'Skill Assessment', class: 'form-label required'
        .form-info Rate the skills you're offering.  Leave blank if not applicable.

        = form.fields_for :assessments, @assessments do |assessment_form|
          -if assessment_form.object.skill.is_popular?
            = render :partial => 'skills_assessment_form', :locals => { skill_assessment_form: assessment_form, featured: true }

        = form.fields_for :assessments, @assessments do |assessment_form|
          -if !assessment_form.object.skill.is_popular?
            = render :partial => 'skills_assessment_form', :locals => { skill_assessment_form: assessment_form, featured: true }

  .row.g-1.g-sm-4.mb-3
    .col-12.col-sm-10.col-md-8
      = form.label 'Other Skills?', class: 'form-label optional'
      .form-info Are there other crafts you love to do that we should know about?
      = form.text_area :other_skills, size: "60x3", class: 'form-control'
  .row.mb-3
    .col-12
      = form.label 'What is your dominant hand?', class: 'form-label required'
    .col-6.col-sm-5.col-md-4
      .form-info Lefty or Righty?
      = form.select :dominant_hand, ['Lefty', 'Righty', 'Either Hand'], { include_blank: true}, { class: 'form-select' }
  .row.mb-3
    .col-12
      = form.label 'Tell us about your home', class: 'form-label optional'
    .col-6.col-sm-5.col-md-4
      .form-info Do you have pets in your home?
      = form.collection_check_boxes(:in_home_pets, [ ['Dog(s)', 'dogs'], ['Cat(s)', 'cats'], ['Other', 'other'] ], :last, :first) do |b|
        .row
          %label.form-label
            = b.check_box
            = b.label

  .row
    .col-xl-8.col-md-10
      .form-info Do you have cigarette smoke in your home?
      = form.label 'has_smoke_in_home', class: 'form-label' do
        = form.check_box :has_smoke_in_home
        Yes, there is cigarette smoke in my home.

  .row.g-1.g-sm-4.mb-3
    .col-12
      = form.label 'Sensitivities', class: 'form-label optional'
      .form-info If we find out an unfinished project was in a house with a smoker or pets, do you want to avoid this project?
      .row
        %label.form-label
          = form.check_box :no_smoke
          No smoke, please.
      .row
        %label.form-label
          = form.check_box :no_cats
          No cats, please.
      .row
        %label.form-label
          = form.check_box :no_dogs
          No dogs, please.

  = form.submit 'Submit', class: "btn btn-primary"
  = link_to "Cancel", :finisher, class: "btn btn-link"
