= form_with model: @finisher, url: finisher_path, html: { class: 'form' } do |form|
  = render "error_messages", resource: @finisher
  - if Skill.any?
    .row.g-1.g-sm-4.mb-3
      .col
        = form.label 'Skill Assessment', class: 'form-label required'
        .form-info Rate the skills you're offering.  Leave blank if not applicable.
        - finisher_assessments = @finisher.assessments
        .row.g-1.mt-3.h5
          .col-4.col-md-3.col-lg-2.my-1 Craft
          .col-4.col-md-3.col-lg-2.my-1 Skill Level
          .col-4.col-md-3.col-lg-2.my-1 Can work without pattern?
        - Skill.sorted_by_popularity.each_with_index do |skill, i|
          - finisher_assessment = finisher_assessments.find{|a| a.skill_id == skill.id}
          .row.g-1.mt-3
            .col-4.col-md-3.col-lg-2.my-1
              = label_tag skill.name, nil, class: 'form-label'
              - if skill.description.present?
                (#{skill.description})
            .col-4.col-md-3.col-lg-2.my-1
              - if finisher_assessment
                = hidden_field_tag "finisher[assessments_attributes][#{i}][id]", finisher_assessment.id
              = hidden_field_tag "finisher[assessments_attributes][#{i}][skill_id]", skill.id
              = select_tag "finisher[assessments_attributes][#{i}][rating]", options_for_select([['', '0'],['Beginner', '1'],['Intermediate', '2'],['Expert', '3']], finisher_assessment&.rating), { class: 'form-select' }
            .col-4.col-md-3.col-lg-2.my-1
              = select_tag "finisher[assessments_attributes][#{i}][can_work_without_pattern]", options_for_select([['', 0],['No', 1], ['Maybe', 2], ['Yes', 3]], finisher_assessment&.can_work_without_pattern), { class: 'form-select' }
            .col-4.my-1
              = text_field_tag "finisher[assessments_attributes][#{i}][description]", finisher_assessment&.description, class: 'ml-2 form-control', placeholder: "Tell us more..."
  .row.g-1.g-sm-4.mb-3
    .col-12.col-sm-10.col-md-8
      = form.label 'Other Skills?', class: 'form-label optional'
      .form-info Are there other crafts you love to do that we should know about?
      = form.text_area :other_skills, size: "60x3", class: 'form-control'
  .row.mb-3
    .col-12
      = form.label 'What is your dominant hand?', class: 'form-label required'
    .col-6.col-sm-5.col-md-4
      .form-info Lefty or Righty?
      = form.select :dominant_hand, ['Lefty', 'Righty', 'Either Hand'], { include_blank: true}, { class: 'form-select' }
  .row.mb-3
    .col-12
      = form.label 'Tell us about your home', class: 'form-label optional'
    .col-6.col-sm-5.col-md-4
      .form-info Do you have pets in your home?
      = form.collection_check_boxes(:in_home_pets, [ ['Dog(s)', 'dogs'], ['Cat(s)', 'cats'], ['Other', 'other'] ], :last, :first) do |b|
        .row
          %label.form-label
            = b.check_box
            = b.label

  .row
    .col-xl-8.col-md-10
      .form-info Do you have cigarette smoke in your home?
      = form.label 'has_smoke_in_home', class: 'form-label' do
        = form.check_box :has_smoke_in_home
        Yes, there is cigarette smoke in my home.

  .row.g-1.g-sm-4.mb-3
    .col-12
      = form.label 'Sensitivities', class: 'form-label optional'
      .form-info If we find out an unfinished project was in a house with a smoker or pets, do you want to avoid this project?
      .row
        %label.form-label
          = form.check_box :no_smoke
          No smoke, please.
      .row
        %label.form-label
          = form.check_box :no_cats
          No cats, please.
      .row
        %label.form-label
          = form.check_box :no_dogs
          No dogs, please.

  = form.submit 'Submit', class: "btn btn-primary"
  = link_to "Cancel", :finisher, class: "btn btn-link"
