= form_with model: @finisher, url: finisher_path, html: { class: 'form' } do |form|
  = render "error_messages", resource: @finisher
  - if Skill.any?
    .row.g-1.g-sm-4
      .col
        = form.label 'Skill Assessment', class: 'form-label required'
        .form-info Rate yourself on one or more of the skills below. Add any other information you like!

        = form.fields_for :assessments, @assessments do |assessment_form|

          .row.g-1
            .col-4.my-1
              = assessment_form.label assessment_form.object.skill.name, class: 'form-label'
              - if assessment_form.object.skill.description.present?
                (#{assessment_form.object.skill.description})
            .col-4.my-1
              = assessment_form.hidden_field :skill_id, value: assessment_form.object.skill_id
              = assessment_form.select :rating, [['', '0'],['Beginner', '1'],['Intermediate', '2'],['Expert', '3']], {}, { class: 'form-select' }
            .col-4.my-1
              = assessment_form.text_field :description, class: 'ml-2 form-control', placeholder: "Tell us more..."
  .row.g-1.g-sm-4
    .col-12.col-sm-10.col-md-8
      = form.label 'Other Skills?', class: 'form-label'
      .form-info Are there other crafts you love to do that we should know about?
      = form.text_area :other_skills, size: "60x3", class: 'form-control'
  .row.g-1.g-sm-4
    .col-12
      = form.label 'What is your dominant hand?', class: 'form-label required'
    .col-6.col-sm-5.col-md-4
      .form-info Lefty or Righty?
      = form.select :dominant_hand, ['Lefty', 'Righty', 'Either Hand'], { include_blank: true}, { class: 'form-select' }

  .row.g-1.g-sm-4
    .col-12
      = form.label 'Sensitivities', class: 'form-label'
      .form-info If we find out an unfinished project was in a house with a smoker or pets, do you want to avoid this project?
      .row
        %label.form-label
          = form.check_box :no_smoke
          No smoke, please.
      .row
        %label.form-label
          = form.check_box :no_cats
          No cats, please.
      .row
        %label.form-label
          = form.check_box :no_dogs
          No dogs, please.
  = form.submit 'Submit', class: "btn btn-primary"
  = link_to "Cancel", :finisher, class: "btn btn-link"
