%h2.mb-3.align-center Get Involved
.row
  - if current_user && current_user.finisher?
    - if current_user.finisher.has_completed_profile
      = render 'card_finisher'
    - else
      = render 'card_finisher_incomplete'
  - else
    = render 'card_finisher_prompt'

  - if current_user && current_user.projects.any?
    = render 'card_project'
  - else
    = render 'card_project_prompt'
