.row
  .col-6
    = line_chart manage_reports_new_projects_by_month_path,
      title: "New Projects by Month (Last 12 Months)", download: true
  .col-6
    = line_chart manage_reports_new_finishers_by_month_path,
      title: "New Finshers by Month (Last 12 Months)", download: true

.row
  .col-6
    = pie_chart manage_reports_project_countries_path(format: 'json'),
      title: "Project Countries"
    .div.text-center
      = link_to("View as CSV", manage_reports_project_countries_path(format: 'csv'), class: 'small')
  .col-6
    = pie_chart manage_reports_finisher_countries_path(format: 'json'),
      title: "Finisher Countries"
    .div.text-center
      = link_to("View as CSV", manage_reports_finisher_countries_path(format: 'csv'), class: 'small')

.row.pt-3
  .col-6
    %h3 Other Reports
    %ul
      %li= link_to "Heard About Us", manage_reports_heard_about_us_path
    %ul
      %li= link_to "Project Counts", manage_reports_project_counts_path
