<tr class="table-row">
  <td class="table-cell">
    <%= project.id %>
  </td>
  <td class="table-cell">
    <%= link_to(project.name, [:admin, project]) %>
  </td>
  <td>
    <%= project.status %>
  </td>
  <td class="table-cell">
    <%= project.description %>
  </td>
  <td class="table-cell">
    <%= project.volunteer&.name %>
  </td>
  <td class="table-cell">
    <%= project.city %>,
    <%= project.state %>
  </td>
</tr>