.col-3.my-2.mx-1
  .card

    - if project.project_images.first&.representable?
      = image_tag(project.project_images.first.representation( resize_to_limit: [140, 140]), class: 'card-img-top')

    .card-body

      %h6.card-title
        = project.name
      .card-text
        = project.status

        = project.description

        = project.volunteer&.name

    .card-footer
      #{project.city}, #{project.state}

