.my-4
  %h5 Mailing Address
  .row.mb-3
    .form-info
      = finisher.street
      = finisher.street_2
      = finisher.city
      = finisher.state
      = finisher.postal_code
      = finisher.country
  = render :partial => 'layouts/address_form', :locals => { form: form }