.col-6.col-sm-6.col-md-4.col-lg-3.col-xl-3.col-xxl-2
  = render partial: 'finisher_card', :locals => {finisher: finisher}

  .modal.fade{ "id" => dom_id(finisher), "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          .row
            .col-12
              %b= finisher.name
              #{finisher.city}, #{finisher.state}

          %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
        .modal-body
          %h6 About Me
          = finisher.description
          - if finisher.admin_notes.present?
            %h5 Admin Notes
            = finisher.admin_notes
          %h6.mt-4 How Heard
          = finisher.user.heard_about_us