- classes ||= []
%div{:class => [:card, finisher.active_assignments.any? && :assigned ].concat(classes)}
  - if finisher.unavailable
    .unavailable
      Unavailable
  - elsif finisher.has_volunteer_time_off?
    .px-2.text-white.font-weight-bold.mb-0.text-center.has-vto
      VTO
  .dominant-hand{ class: finisher.dominant_hand ? finisher.dominant_hand[0] : '' }
    = finisher.dominant_hand&.first
  - if finisher.picture.representable?
    = link_to image_tag(finisher.picture.representation( resize_to_limit: [300, 300]), class: 'card-img-top', style: 'height:8vw; object-fit:cover;'), [:manage, finisher]
  - else
    = link_to image_tag('finisher.png', class: 'card-img-top', style: 'height:8vw; object-fit:cover;'), [:manage, finisher]
  .card-body
    %h6.card-title.d-flex.align-items-start
      .flex-grow-1
        = link_to finisher.name, [:manage, finisher]
      - if finisher.can_publicize?
        = fa_icon 'bullhorn'
    - if @project
      .assign
        = link_to 'Assign', [:new, :manage, @project, :assignment, { finisher_id: finisher.id }]
        to
        = link_to 'Project', [:manage, @project]
    .since
      %b Since:
      = l(finisher.joined_on) if finisher.joined_on
    .skills
      %b Skills:
      = finisher.rated_assessments.map{|assessment| "#{assessment.skill.name} (#{assessment.rating})"}.join(', ')
    .favorites
      .row
        %b.col-10 Favorites:
        .col-2
          %button.btn.btn-link.p-0{"data-bs-target" => "##{dom_id(finisher)}", "data-bs-toggle" => "modal", type: "button"}
            = fa_icon('comment')
      = finisher.products.map{|fav| fav.name}.join(', ')

  .card-footer
    #{finisher.city}, #{finisher.state}
    - unless finisher.user.confirmed?
      .email-not-confirmed Email Not Confirmed
