<div class="map-container">
  <% if params[:location] != nil && params[:location].length > 0%>
    <% location = Geocoder.search(params[:location]).first %>
    <div id="finishers-map" data-latitude=<%= location.latitude  %> data-longitude=<%= location.longitude %> >
      <% @finishers.each do |finisher| %>
        <div class="finisher-list-item" data-latitude=<%= finisher.latitude %> data-longitude=<%= finisher.longitude %> data-name=<%= finisher.name %> ></div>
      <% end %>
    </div>
  <div style="height: 400px" id="map"></div>
  <% end %>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBK8awz5VcodcYwXRwUbQsjdJFnTR8a1s&callback=initMap" async defer data-turbolinks-eval="false"></script>