%h1.page-title
  Finishers Map
= form_tag map_manage_finishers_path, :method => :get do
  .row.mb-0
    .col-11
      = label_tag :near, "#{@finishers&.size} Finishers Near", class: 'label'
  .row.mb-4
    .col-11
      = text_field_tag :near, params[:near], class: 'form-control'
    .col-1
      = submit_tag "Search", name: nil, class: 'btn btn-primary'

.row.map-container{ style: "display: flex; margin-bottom:20px"}
  .col#map{ style: "height:500px; flex: 1"}

- if @finishers
  .row
    = render @finishers.first(48)

  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.dig(:google, :maps_api_key)}&callback=initMap", defer: true

  :javascript
    function initMap(){
    const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 10,
    center: { lat: #{@center[0]}, lng: #{@center[1]} },
    });
    const finishers = [#{ @finishers.map{|f| "{ position: { lat: #{f.latitude}, lng: #{f.longitude}}, title: '#{escape_javascript(f.name)}', skills: '#{f.rated_skills_string}', url: '/manage/finishers/#{f.id}' }"}.join(',') }];

    finishers.forEach(finisher => {
    const content = `<div><h3>${finisher.title}</h3><div><a href='${finisher.url}' target='_blank'>Profile</a></div><p>${finisher.skills}</p></div>`;
    const infowindow = new google.maps.InfoWindow({
    content: content,
    ariaLabel: "Uluru",
    });

    const marker = new google.maps.Marker({ ...finisher, map: map });

    marker.addListener("click", () => {
    infowindow.open({
    anchor: marker,
    map,
    });
    });

    });
    }


    window.initMap = initMap;

