%h1.page-title
  Finishers Map
= form_tag [:map, :manage, @project, :finishers], :method => :get do
  .row.mb-0
    .col-7
      = label_tag :near, "#{pluralize(@finishers&.size, 'Finisher')} Near", class: 'label mb-2'
    .col-2
      = label_tag :search, "Radius", class: 'label'
    .col-2
      = label_tag :search, "Skill", class: 'label'
  .row.mb-4
    .col-7
      = text_field_tag :near, params[:near], class: 'form-control'
    .col-2
      = select_tag :radius, options_for_select([2,5,10,30,50,100,200], params[:radius] || 50), class: 'form-select'
    .col-2
      = select_tag :skill_id, options_from_collection_for_select(Skill.sorted_by_popularity, "id", "name", params[:skill_id]), include_blank: true, class: 'form-select'
    .col-1
      = submit_tag "Search", name: nil, class: 'btn btn-primary'

.row.map-container.d-flex.mb-4
  .col#map.d-flex{ style: "height:500px;" }

- if @finishers
  = link_to(request.params.merge(format: "csv"), class: 'btn btn-sm btn-outline-secondary') do
    %span download as csv
    = fa_icon(:download)
  %table.table
    %thead
      %tr
        %th Name
        %th Email
        %th Address
        - if @project
          %th Assign
      = render partial: 'finisher_row', collection: @finishers, as: :finisher

  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap", defer: true

  :javascript
    function initMap(){
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: #{params[:radius].length >= 3 ? 9 : 10},
        center: { lat: #{@center[0]}, lng: #{@center[1]} },
      });

      const pinSVGFilled = "M 12,2 C 8.1340068,2 5,5.1340068 5,9 c 0,5.25 7,13 7,13 0,0 7,-7.75 7,-13 0,-3.8659932 -3.134007,-7 -7,-7 z";
      const labelOriginFilled =  new google.maps.Point(12,9);

      const projectIcon = {
        path: "m0,10l10,-10l10,10l-10,10l-10,-10z",
        anchor: new google.maps.Point(10,17),
        fillOpacity: 1,
        fillColor: "white",
        strokeWeight: 1,
        strokeColor: "#fd7e0d",
        scale: 1.5  ,
        labelOrigin: new google.maps.Point(10,10)
      };

      const projectLabel = {
        text: "Here",
        color: "#fd7e0d",
        fontSize: "10px",
        fontWeight: 'bold',
        fontFamily: 'cursive'
      };

      new google.maps.Marker({ position: { lat: #{@center[0]}, lng: #{@center[1]} }, zIndex: 9999, icon: projectIcon, label: projectLabel, map, optimized: false });

      const finishers = [#{ @finishers.map{|f| "{ position: { lat: #{f.latitude}, lng: #{f.longitude}}, title: '#{escape_javascript(f.name)}', skills: '#{f.rated_skills_string}', url: '#{url_for([:card, :manage, @project, f])}', zIndex: #{@skill_id ? f.assessments.find_by(skill_id: @skill_id).rating : 0} }"}.join(',') }];

      const infowindow = new google.maps.InfoWindow({
        maxWidth: 200,
      });

      finishers.forEach(finisher => {
        const pinColor = finisher.zIndex === 3 ? "#22bc49" : finisher.zIndex === 2 ? "#dcce1f" : finisher.zIndex === 1 ? "#e72d2d" : "#3975EC";

        const icon = {
          path: pinSVGFilled,
          anchor: new google.maps.Point(12,17),
          fillOpacity: 1,
          fillColor: pinColor,
          strokeWeight: 2,
          strokeColor: "white",
          scale: 2,
          labelOrigin: labelOriginFilled
        }
        const label = {
          text: finisher.zIndex === 3 ? "E" : finisher.zIndex === 2 ? "I" : finisher.zIndex === 1 ? "B" : "F",
          color: "white",
          fontSize: "14px",
          fontWeight: 'bold',
        }

        const marker = new google.maps.Marker({ ...finisher, icon, label, map, optimized: false });

        marker.addListener("click", () => {
          fetch(finisher.url)
            .then(response => response.text())
            .then(html => {
              infowindow.setContent(html);
              infowindow.open({anchor: marker, map}); })
            .catch(error => { console.log(error)});
        });
      });
    }


    window.initMap = initMap;

