%h1.page-title{ :class => ("assigned" if @finisher.active_assignments.any?) }
  = @finisher.name

  - if @finisher.approved
    (Approved)
  - if @finisher.unavailable
    (Unavailable)

  = link_to 'Edit Finisher', [:edit, :manage, @finisher], class: 'btn btn-outline-secondary float-end'


.row
  .col-3
    .page_section.mb-2
      %b Publicize:
      = fa_icon @finisher.can_publicize? ? 'bullhorn' : 'xmark'

    .page_section.mb-2
      %b Dominant Hand:
      = @finisher.dominant_hand
    .page_section.mb-2
      %b Since:
      = @finisher.joined_on
    .page_section.mb-2
      %b How Heard:
      = @finisher.user.heard_about_us

    - if @finisher.picture.representable?
      .page_section.mb-2
        = link_to image_tag(@finisher.picture.representation( resize_to_limit: [300, 300]), class: 'w-100'), url_for(@finisher.picture.variant(format: :jpg))

    .page-section.mb-2
      %b Email:
      = @finisher.user.email
    .page-section.mb-2
      %b Phone Number:
      = @finisher.phone_number
    .page-section.mb-2
      %b Pronouns:
      = @finisher.pronouns
    .page-section.mb-2
      .row
        .col-8
          %b Mailing Address:
        .col-4.text-end= link_to fa_icon('map'), "https://maps.google.com/?q=#{@finisher.full_address}", target: "_blank"
      .street= @finisher.street
      - if @finisher.street_2.present?
        .street2= @finisher.street_2
      .city-state-zip
        #{@finisher.city}, #{@finisher.state} #{@finisher.postal_code}
      .country
        = ISO3166::Country[@finisher.country]&.iso_short_name
    .page-section.mb-4
      %b Workplace Match Donations?
      = @finisher.has_workplace_match == nil ? "I don't know" : @finisher.has_workplace_match ? "Yes" : "No"
    .page-section.mb-4
      %b Workplace Match Volunteer Hours?
      = @finisher.has_volunteer_time_off == nil ? "I don't know" : @finisher.has_workplace_match ? "Yes" : "No"
    .page-section.mb-4
      %b Workplace:
      = @finisher.workplace_name

    .page-section.mb-4
      %b Emergency Contact:
      .row
        .col-12
          - name_relation = [@finisher.emergency_contact_name, (@finisher.emergency_contact_relation ? "(#{@finisher.emergency_contact_relation})" : nil)].compact.join(' ')
          = [name_relation, @finisher.emergency_contact_phone_number].compact.join(', ')
        .col-12
          = @finisher.emergency_contact_email


  .col-6
    .page-section
      %h4 Favorites
      %ul
        - @finisher.favorites.each do |favorite|
          %li= favorite.product.name
    %hr/
    .page-section
      %h4 Skills
      %ul
        - @finisher.rated_assessments.each do |assessment|
          %li
            = assessment.skill.name
            \: #{Skill[assessment.rating].to_s.humanize}. #{assessment.description}
    %hr/
    - if @finisher.no_smoke || @finisher.no_cats || @finisher.no_dogs
      .page-section.mb-3
        %h4 Sensitivities
        %ul
          - if @finisher.no_smoke
            %li No Smoke Please
          - if @finisher.no_cats
            %li No Cats Please
          - if @finisher.no_dogs
            %li No Dogs Please
    - if @finisher.in_home_pets.select(&:present?).any?
      .page-section.mb-3
        %h4 Pets in Home
        = @finisher.in_home_pets.select(&:present?).map{|p| p.capitalize}.join(', ')

    - if @finisher.has_smoke_in_home
      .page-section.mb-3
        %h4 Smoking in Home
        Has Smoke In Home
    - if @finisher.no_smoke || @finisher.no_cats || @finisher.no_dogs || @finisher.in_home_pets.select(&:present?).any? || @finisher.has_smoke_in_home
      %hr/
    .page-section
      %h4 About Me
      %p= @finisher.description
    %hr/
    .page-section
      %h4 Other Skills
      %p= @finisher.other_skills
    %hr/
    .page-section
      %h4 Other Favorites
      %p= @finisher.other_favorites
    .page-section
      %h4 Finished Projects
      - @finisher.finished_projects.each do |image|
        - if image.representable?
          .removeable_image
            = link_to image_tag(image.representation( resize_to_limit: [100, 100]), class: 'thumbnail'), url_for(image.variant(format: :jpg))
            = button_to fa_icon("trash"), finisher_path({ finished_project_id: image.id }), method: :delete, :onclick => "return confirm('Are you sure?')", class: 'icon'

    %hr/
    .page-section
      %h4 Never Again!
      %p= @finisher.dislikes
    %hr/
    .page-section
      %h4 Social Media!
      %p= @finisher.social_media
    %hr/
  .col-3
    %h4 Assignments
    = render @finisher.assignments

    .page-section
      %h4 Notes
    = @finisher.admin_notes