= form_with model: @project, html: { class: 'form', data: { turbo: false } } do |form|
  = render "error_messages", resource: @project
  .row
    .col-4
      = form.label 'Phone Number', class: 'form-label required'
      = form.text_field :phone_number, class: 'form-control'
  .my-4
    %h5 Your Mailing Address
    .form-info After it's finished, we'll send it back here
    = render :partial => 'layouts/address_form', :locals => { form: form }
  .form-actions
    = form.submit 'Submit Contact Info', class: "btn btn-primary"
    = link_to "Cancel", @project, class: "btn btn-link"

