
<div class="layout">
  <div class="layout-aside mr-6">
    <p><%= @project.description %></p>

    <% @project.project_images.each do |image| %>
      <div class="removeable_image">
        <%= link_to image_tag(image.representation( resize_to_limit: [100, 100]), class: 'thumbnail'), url_for(image.variant(format: :jpg)) %>
        <%= button_to fa_icon("trash"), project_path(@project, { project_image_id: image.id }), method: :delete, :onclick => "return confirm('Are you sure?')", class: 'icon' %>
      </div>
    <% end %>

    <hr>
    <p><%= @project.more_details %></p>
  </div>
  <div class="layout-details">


    <h3 class="page_section">Material Details</h3>
    <%= @project.material_type %>

    <% @project.material_images.each do |image| %>
      <div class="removeable_image">
      <%= link_to image_tag(image.representation( resize_to_limit: [100, 100]), class: 'thumbnail'), url_for(image.variant(format: :jpg)) %>
      <%= button_to fa_icon("trash"), project_path(@project, { material_image_id: image.id }), method: :delete, :onclick => "return confirm('Are you sure?')", class: 'icon' %>
      </div>
    <% end %>
    <hr>
    <h3 class="page_section">Crafter Details</h3>
    <%= @project.crafter_name %>

    <%= @project.crafter_description %>

    <% @project.crafter_images.each do |image| %>
      <div class="removeable_image">
      <%= link_to image_tag(image.representation( resize_to_limit: [100, 100]), class: 'thumbnail'), url_for(image.variant(format: :jpg)) %>
      <%= button_to fa_icon("trash"), project_path(@project, { crafter_image_id: image.id }), method: :delete, :onclick => "return confirm('Are you sure?')", class: 'icon' %>
      </div>
    <% end %>


    <%= @project.recipient_name %>

    <hr>
    <h3 class="page_section">Pattern Details</h3>
    <p>Is there a pattern? <%= @project.has_pattern %></p>

    <% @project.pattern_files.each do |file| %>
      <div class="removeable_file">
        <%= link_to file.blob.filename, url_for(file), { download: true } %>
        <%= button_to fa_icon("trash"), project_path(@project, { pattern_file_id: file.id }), method: :delete, :onclick => "return confirm('Are you sure?')", class: 'icon' %>
      </div>
    <% end %>

    <hr>
    <h3 class="page_section">More</h3>

    OK To publicize? <%= @project.can_publicize ? 'Yes' : 'No' %>

  </div>
</div>