.page-section.mb-4
  %h4
    Finished Project

  = form_with model: project, html: { class: 'form', data: { turbo: false } } do |form|
    .row.mb-3
      .col-md-4
        = form.label :append_finished_project_photos, 'Finished project photos', class: 'form-label'
      .col-md-8
        = form.file_field :append_finished_project_photos, class: 'form-control',
          accept: "image/png,image/gif,image/jpeg,image/webp,image/heic", multiple: true
        - project.finished_project_photos.each do |image|
          - if image.representable?
            .removeable_image
              = link_to image_tag(image.representation(resize_to_limit: [100, 100]), class: 'thumbnail'),
                url_for(image.variant(format: :jpg))
              = button_to fa_icon("trash"),
                project_path(project, { finished_project_photo_id: image.id }),
                method: :delete,
                onclick: "return confirm('Are you sure?')",
                class: ''
        .form-info Optional.

    .row.mb-3
      .col-md-4
        = form.label :ok_to_post, 'OK to post', class: 'form-label'
      .col-md-8
        .form-check
          = form.check_box :ok_to_post, class: 'form-check-input'
          = form.label :ok_to_post, 'Yes', class: 'form-check-label'

    .form-actions
      = form.submit 'Save', class: "btn btn-primary"

