= form_with model: @project, html: { class: 'form', data: { turbo: false } } do |form|
  = render "error_messages", resource: @project
  .row
    .col-4
      = form.label 'Give this project a name', class: 'form-label required'
      = form.text_field :name, class: 'form-control'
  .my-4
    %h5 Your Mailing Address
    .form-info After it's finished, we'll send it back here
    = render :partial => 'layouts/address_form', :locals => { form: form }
  .page-section
    %h5 The Project
    .row.mb-2
      .col-6
        = form.label 'What type of craft project are you submitting?', class: 'form-label required'
        .form-info Knit, Crochet, Quilt. Do you know what it is?
        = form.text_field :craft_type, class: 'form-control'
    .row.mb-2
      .col-6
        = form.label 'What was being made?', class: 'form-label required'
        .form-info (for instance, sweater, socks, blanket, hat...)
        = form.text_area :description, size: "60x5", class: 'form-control'
    .row.mb-2
      .col-4
        = form.label 'Project Images', class: 'form-label required'
        .form-info Please upload photos of the unfinished project.
        = form.file_field :append_project_images, class: 'form-control', accept: "image/png,image/gif,image/jpeg,image/webp", :multiple => true
        - form.object.project_images.each do |image|
          = image_tag image.representation( resize_to_limit: [100, 100])
  .page-section
    %h5 Pattern
    .row.mb-2
      .col-2
        = form.label 'Is there a pattern', class: 'form-label required'
        = form.select :has_pattern, ['Yes', 'No', "I don't know"], { include_blank: true }, { class: 'form-select' }
    .row.mb-2
      .col-4
        = form.label 'Pattern Files', class: 'form-label'
        .form-info Please upload images or PDFs of the pattern, if you have them.
        = form.file_field :append_pattern_files, class: 'form-control', accept: "image/png,image/gif,image/jpeg,image/webp,application/pdf", :multiple => true
        - form.object.pattern_files.each do |file|
          - if file.representable?
            = link_to file.blob.filename, url_for(file)
  .page-section
    %h5 Material
    .row.mb-2
      .col-6
        = form.label 'What kind of yarn / material is used?', class: 'form-label required'
        .form-info Wool, Cotton, Linen, Synthetic (Nylon, Polyester, Acrylic, etc). Do you know?
        = form.text_field :material_type, class: 'form-control'
    .row.mb-2
      .col-4
        = form.label 'Material Images', class: 'form-label'
        .form-info Please upload a photo of the materials (yarn, fabric) used. Please be sure to include any labels and branding, if possible.
        = form.file_field :append_material_images, class: 'form-control', accept: "image/png,image/gif,image/jpeg,image/webp", :multiple => true
        - form.object.material_images.each do |image|
          = image_tag image.representation( resize_to_limit: [100, 100])
  .page-section
    %h5 The Crafter
    .row.mb-2
      .col-4
        = form.label 'Name of deceased or compromised crafter', class: 'form-label required'
        = form.text_field :crafter_name, class: 'form-control'
    .row.mb-2
      .col-6
        = form.label 'Please share a little bit about about the crafter who started this project, and your relationship with the person and the things they made.', class: 'form-label required'
        = form.text_area :crafter_description, size: "60x5", class: 'form-control'
    .row.mb-2
      .col-4
        = form.label 'Would you like to share a photo of the original crafter?', class: 'form-label'
        .form-info Please upload photos of the crafter, if you have them.
        = form.file_field :append_crafter_images, class: 'form-control', accept: "image/png,image/gif,image/jpeg,image/webp", :multiple => true
        - form.object.crafter_images.each do |image|
          = image_tag image.representation( resize_to_limit: [100, 100])
    .row.mb-2
      .col-4
        = form.label 'recipient_name', class: 'form-label'
        .form-info Who was this project being made for?
        = form.text_field :recipient_name, class: 'form-control'
  .row.mb-2
    .col-6
      = form.label 'Are there any other details you can offer, or anything else we should know about this project?', class: 'form-label'
      = form.text_area :more_details, size: "60x5", class: 'form-control'
  .row.mb-2
    .col-8
      .page-section
        %h5 Can we talk about this project?
        .form-info
          Sharing images of projects helps others understand what
          it's like to be a part of Loose Ends. Is it OK if we post photos of your project on our social media and online?
          All of your name and personal information would be kept private.
      = form.label 'can_publicize', class: 'form-label my-2' do
        = form.check_box :can_publicize
        It is OK to post about this project on the Internet and Social Media.
  - if !@project.persisted?
    .row.mb-2
      .col-8
        = form.label 'terms_of_use', class: 'form-label required'
        %label
          = form.check_box :terms_of_use
          By checking this box I hold harmless Loose Ends Project from any and all claims, lawsuits, demands, causes of action, liability, loss, damage, and/or injury of any kind.
  .form-actions
    = form.submit 'Submit Project', class: "btn btn-primary"