<%= form_with model: @project, class: 'my-16', data: { turbo: false } do |form| %>
  <%= render "error_messages", resource: @project %>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Name this Project', class: 'form-label' %>
      <%= form.text_field :name, class: 'form-input' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Project description', class: 'form-label' %>
      <p class="form-info">Tell us all about it!</p>
      <%= form.text_area :description, size: "60x5", class: 'form-input' %>
    </div>
  </div>


  <div class='form-section'>Mailing Address</div>
  <p class="form-info">After it's finished, we'll send it back here</p>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Street.', class: 'form-label' %>
      <%= form.text_field :street, size: "60x2", class: 'form-input' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Line 2', class: 'form-label' %>
      <%= form.text_field :street_2, class: 'form-input' %>
    </div>
  </div>

  <div class="form-row md:w-1/2">
    <div class="w-full4 md:w-1/3 px-3">
      <%= form.label 'City', class: 'form-label' %>
      <%= form.text_field :city, class: 'form-input' %>
    </div>
    <div class="w-full md:w-1/3 px-3">
      <%= form.label 'State', class: 'form-label' %>
      <%= form.text_field :state, class: 'form-input' %>
    </div>
    <div class="w-full md:w-1/3 px-3">
      <%= form.label 'postal_code', class: 'form-label' %>
      <%= form.text_field :postal_code, class: 'form-input' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'country', class: 'form-label' %>
      <%= form.text_field :country, class: 'form-input' %>
    </div>
  </div>

  <div class='form-section'>The Project</div>
  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'What Craft?', class: 'form-label' %>
      <%= form.text_field :name, class: 'form-input' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Project Details', class: 'form-label' %>
      <%= form.text_area :project_description, size: "60x4", class: 'form-input' %>
    </div>
  </div>


  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Project Images', class: 'form-label' %>
      <p class="form-info">Please upload photos of the unfinished project.</p>

      <%= form.file_field :project_images, class: 'form-input', :multiple => true %>
      <% form.object.project_images.each do |image| %>
        <%= image_tag image.representation( resize_to_limit: [100, 100]) %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Craft Type', class: 'form-label' %>
      <%= form.text_field :craft_type, class: 'form-input' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Pattern Images', class: 'form-label' %>
      <p class="form-info">Please upload photos of the pattern, if you have them.  </p>
      <%= form.file_field :pattern_images, class: 'form-input', :multiple => true %>
      <% form.object.pattern_images.each do |image| %>
        <%= image_tag image.representation( resize_to_limit: [100, 100]) %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Material Images', class: 'form-label' %>
      <p class="form-info">Please upload photos of the materials, if you have them.</p>
      <%= form.file_field :material_images, class: 'form-input', :multiple => true %>
      <% form.object.material_images.each do |image| %>
        <%= image_tag image.representation( resize_to_limit: [100, 100]) %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Is there anything else youd like to tell us about this project?', class: 'form-label' %>
      <%= form.text_area :more_details, size: "60x5", class: 'form-input' %>
    </div>
  </div>


  <div class="form-group">
    <div class="form-cell">
      <%= form.label 'Can we post about this project on Social Media? ', class: 'form-label' %>
      <%= form.check_box :can_publicize %>
    </div>
  </div>


  <p class="form-info">
    By clicking below, you recognize that Loose Ends is not responsible for lost or damaged projects or materials.
  </p>
  <%= form.submit 'Submit Project', class: "btn-submit" %>
<% end %>