= form_with model: @project, html: { class: 'form', data: { turbo: false } } do |form|
  = render "error_messages", resource: @project

  .page-section
    %h5 Pattern
    .row.mb-2
      .col-2
        = form.label 'Is there a pattern', class: 'form-label required'
        = form.select :has_pattern, ['Yes', 'No', "I don't know"], { include_blank: true }, { class: 'form-select' }
    .row.mb-2
      .col-4
        = form.label 'Pattern Files', class: 'form-label'
        .form-info Please upload images or PDFs of the pattern, if you have them.
        = form.file_field :append_pattern_files, class: 'form-control', accept: "image/png,image/gif,image/jpeg,image/webp,application/pdf", :multiple => true
        - form.object.pattern_files.each do |file|
          - if file.representable?
            = link_to file.blob.filename, url_for(file)
  .page-section
    %h5 Material
    .row.mb-2
      .col-6
        = form.label 'What kind of yarn / material is used?', class: 'form-label required'
        .form-info Wool, Cotton, Linen, Synthetic (Nylon, Polyester, Acrylic, etc). Do you know?
        = form.text_field :material_type, class: 'form-control'
    .row.mb-2
      .col-4
        = form.label 'Material Images', class: 'form-label'
        .form-info Please upload a photo of the materials (yarn, fabric) used. Please be sure to include any labels and branding, if possible.
        = form.file_field :append_material_images, class: 'form-control', accept: "image/png,image/gif,image/jpeg,image/webp", :multiple => true
        - form.object.material_images.each do |image|
          = image_tag image.representation( resize_to_limit: [100, 100])
  .row.mb-2
    .col-6
      = form.label 'Are there any other details you can offer, or anything else we should know about this project?', class: 'form-label'
      = form.text_area :more_details, size: "60x5", class: 'form-control'
  .form-actions
    = form.submit 'Submit Project Details', class: "btn btn-primary"
