<h1 class="page-title">
  <%= @project.name %>
  <% if current_user.admin? %>
      (<%= @project.status.humanize %>)
  <% end %>

  <% if current_user == @project.user %>
    <%= link_to 'Edit Project', [:edit, @project], class: 'action' %>
  <% end %>
</h1>

<div class="layout">
  <div class="layout-aside">

  </div>
  <div class="layout-details">
    <p><%= @project.description %></p>

    <% @project.project_images.each do |image| %>
      <%= image_tag image.representation( resize_to_limit: [100, 100]) %>
    <% end %>

    <p><%= @project.more_details %></p>

    <hr>
    <h3 class="page_section">Material Details</h3>
    <%= @project.material_type %>

    <%= @project.material_description %>
    <% @project.material_images.each do |image| %>
      <%= image_tag image.representation( resize_to_limit: [100, 100]) %>
    <% end %>
    <hr>
    <h3 class="page_section">Crafter Details</h3>
    <%= @project.crafter_name %>

    <%= @project.crafter_description %>

    <% @project.crafter_images.each do |image| %>
      <%= image_tag image.representation( resize_to_limit: [100, 100]) %>
    <% end %>


    <%= @project.recipient_name %>

    <hr>
    <h3 class="page_section">Pattern Details</h3>
    <%= @project.has_pattern %>

    <% @project.pattern_images.each do |image| %>
      <%= image_tag image.representation( resize_to_limit: [100, 100]) %>
    <% end %>

    <hr>
    <%= @project.can_publicize %>

  </div>
</div>