%h1.page-title
  = @project.name
  - if current_user.admin?
    (#{@project.status.humanize})

- if @project.missing_information?
  .alert.alert-primary
    Before we can match this project, we need a little more information.  See the messages below.
.row
  .col-4.mr-6.row
    - @project.project_images.each do |image|
      .removeable_image
        = link_to image_tag(image.representation( resize_to_limit: [100, 100]), class: 'thumbnail'), url_for(image.variant(format: :jpg))
        = button_to fa_icon("trash"), project_path(@project, { project_image_id: image.id }), method: :delete, :onclick => "return confirm('Are you sure?')", class: ''

    .page-section

      %h4
        .row
          .col-9
            About the Project
          .col-3
            = link_to 'Edit', [:edit_basics, :project], class: 'btn btn-link float-end btn-sm'
      - if @project.description.blank?
        %p.text-primary Please give more information about yourself
      - else
        %p= @project.description
        %hr/
        %p= @project.more_details
  .col-8
    %h4
      .row
        .col-9
          Phone Number
        .col-3.fs-6.text-end
          - if @project.phone_number.blank?
            = link_to 'Required', [:edit_address, :project], class: 'btn btn-link float-end btn-sm'
          - else
            = @project.phone_number
    %h4
      .row
        .col-9
          Mailing Address
        .col-3
          = link_to 'Edit', [:edit_address, :project], class: 'btn btn-link float-end btn-sm'
    - if @project.missing_address_information?
      %p.text-primary Please enter your mailing address.
    - if @project.street.present?
      .row
        .col-12= @project.street
    - if @project.street_2.present?
      .row
        .col= @project.street_2

    - if @project.city.present?
      .row
        .col
          #{@project.city}, #{@project.state} #{@project.postal_code}
    - if @project.state.present? && @project.country.present?
      .row
        .col= @project.country
    %hr/

    %h4
      .row
        .col-9
          Material Details
        .col-3
          = link_to 'Edit', [:edit_project, @project], class: 'btn btn-link float-end btn-sm'
    - if !@project.material_type.present? || @project.material_images.present?
      %p.text-primary
        Tell us about the material

    = @project.material_type
    - @project.material_images.each do |image|
      .removeable_image
        = link_to image_tag(image.representation( resize_to_limit: [100, 100]), class: 'thumbnail'), url_for(image.variant(format: :jpg))
        = button_to fa_icon("trash"), project_path(@project, { material_image_id: image.id }), method: :delete, :onclick => "return confirm('Are you sure?')", class: 'icon'
    %h4.mt-4
      .row
        .col-9
          Pattern Details

    - if !@project.has_pattern.present?
      %p.text-primary
        Tell us about the pattern
    - else
      %p
        Is there a pattern? #{@project.has_pattern}
    - @project.pattern_files.each do |file|
      .removeable_file
        = link_to file.blob.filename, url_for(file), { download: true }
        = button_to fa_icon("trash"), project_path(@project, { pattern_file_id: file.id }), method: :delete, :onclick => "return confirm('Are you sure?')", class: 'icon'
    %hr/
    %h4
      .row
        .col-9
          Crafter Details
        .col-3
          = link_to 'Edit', [:edit_crafter, @project], class: 'btn btn-link float-end btn-sm'
    - if !@project.crafter_name.present? && (!@project.crafter_description.present? || !@project.crafter_images.present?)
      %p
        We'd love to know more about the crafter
    = @project.crafter_name
    = @project.crafter_description
    - @project.crafter_images.each do |image|
      .removeable_image
        = link_to image_tag(image.representation( resize_to_limit: [100, 100]), class: 'thumbnail'), url_for(image.variant(format: :jpg))
        = button_to fa_icon("trash"), project_path(@project, { crafter_image_id: image.id }), method: :delete, :onclick => "return confirm('Are you sure?')", class: 'icon'

    %p= @project.crafter_dominant_hand

    - if @project.no_smoke || @project.no_cats || @project.no_dogs
      .page-section
        %b Sensitivities
        %ul
          - if @project.no_smoke
            %li No Smoke Please
          - if @project.no_cats
            %li No Cats Please
          - if @project.no_dogs
            %li No Dogs Please

    = @project.recipient_name
    %hr/
    %h4
      .row
        .col-9
          More
        .col-3
          = link_to 'Edit', [:edit_crafter, @project], class: 'btn btn-link float-end btn-sm'
    OK to talk about this publicly? #{@project.can_publicize ? fa_icon(:check) : 'No'}

