.card.flex-fill
  %h5.card-header.mt-0 Project Attributes
  .card-body.d-flex.flex-wrap.align-items-start.gap-4
    %table
      %tbody
        - if @project.group_project
          = render partial: 'manage/projects/show/row', locals: { title: 'Group Manager', value: @project.group_manager }
        - else
          = render partial: 'manage/projects/show/row_bool', locals: { title: 'Group Project', value: false }
        - if @project.press
          = render partial: 'manage/projects/show/row', locals: { title: 'Press Region', value: @project.press_region }
          = render partial: 'manage/projects/show/row', locals: { title: 'Press Outlet', value: @project.press_outlet }
        - else
          = render partial: 'manage/projects/show/row_bool', locals: { title: 'Press', value: false }
        - { 'Joann Helped' => @project.joann_helped,
            'Urgent' => @project.urgent,
            'Influencer' => @project.influencer }.each_pair do |title, value|
          = render partial: 'manage/projects/show/row_bool', locals: { title: , value: }
    %table
      %tbody
        - { 'Privacy Needed' => @project.privacy_needed,
            'Smoke ok' => !@project.no_smoke,
            'Cats ok' => !@project.no_cats,
            'Dogs ok' => !@project.no_dogs }.each_pair do |title, value|
          = render partial: 'manage/projects/show/row_bool', locals: { title: , value: }
    %table
      %tbody
        - if @project.in_home_pets.present?
          = render partial: 'manage/projects/show/row', locals: { title: 'Pets in Home', value: @project.in_home_pets.select(&:present?).map{|p| p.capitalize}.join(', ') }
        - else
          = render partial: 'manage/projects/show/row_bool', locals: { title: 'Pets in Home', value: false }
        = render partial: 'manage/projects/show/row_bool', locals: { title: 'Smoke in home', value: @project.has_smoke_in_home }
