= form_with model: @volunteer, url: [:admin, @volunteer] do |form|
  = render "error_messages", resource: @volunteer
  .row
    .col
      = form.label :approved do
        = form.check_box :approved
        Approved

  .form-actions
    = form.submit class: "btn btn-primary"
