<%= form_with model: @volunteer, url: [:admin, @volunteer] do |form| %>
  <%= render "error_messages", resource: @volunteer %>

  <div class="form-group">
    <%= form.label 'Approved' %>
    <%= form.check_box :approved, class: 'form-control' %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>