= form_for [:manage, assignment] do |form|
  .pb-2 Assigned to #{link_to(assignment.finisher.user.name, [ :manage, assignment.finisher ], data: { turbo_frame: :_top })} on #{assignment.created_at.to_formatted_s(:short)}
  .d-inline
    = form.label 'Current Status', class: 'form-label'
    - if local_assigns[:readonly]
      %strong
        = (assignment.status || 'Unknown').titleize
    - else
      = form.select :status,  [['Unknown', nil]] + Assignment::STATUS.map{|s| [s.titleize, s] }, {}, { class: 'form-select-sm', autocomplete: 'off' }
    - if assignment.updated_at > 5.seconds.ago
      %span.update-flash.visible SAVED
  - unless local_assigns[:readonly]
    .form-actions.d-inline.ps-4
      = form.submit 'Save', class: "btn btn-sm btn-primary"
      = form.submit 'Delete', class: "btn btn-sm btn-outline-danger", onclick: "return confirm('Are you sure?')"


:javascript
  setTimeout(() => {
    let selector = document.querySelector('.update-flash.visible');
    if (selector) {
      selector.classList.remove('visible')
      selector.classList.add('hidden')
    }
  }, 1000)