= form_for [:manage, assignment] do |form|
  %ul.list-unstyled.assignment-card
    %li
      = fa_icon("user", title: 'Assigned To')
      %span= link_to(assignment.finisher.user.name, [ :manage, assignment.finisher ], data: { turbo_frame: :_top })
    %li
      = fa_icon("envelope", title: 'Email Address')
      %span= assignment.finisher.user.email.truncate(25)
    %li
      = fa_icon("calendar", title: 'Assigned')
      %span= time_tag(assignment.created_at, "Assigned #{assignment.created_at.to_formatted_s(:short)}", title: assignment.created_at)
    - if assignment.created_at != assignment.updated_at
      %li
        = fa_icon("calendar-check", title: 'Updated')
        %span= time_tag(assignment.updated_at, "Updated #{assignment.updated_at.to_formatted_s(:short)}", title: assignment.updated_at)
    %li
      = fa_icon("flag", title: 'Status')
      - if local_assigns[:readonly]
        %strong
          = (assignment.status || 'Unknown').titleize
      - else
        = form.select :status,  [['Unknown', nil]] + Assignment::STATUS.map{|s| [s.titleize, s] }, {}, { class: 'd-inline form-select form-select-sm w-auto', autocomplete: 'off', onchange: 'this.form.requestSubmit()' }
      - if assignment.saved_change_to_status?
        %span.update-flash.visible SAVED
      - else
        %span.update-flash.opacity-0 SAVED


:javascript
  setTimeout(() => {
    let visibleFlashSelector = document.querySelector('.update-flash.visible');
    if (visibleFlashSelector) {
      visibleFlashSelector.classList.remove('visible')
      visibleFlashSelector.classList.add('opacity-0')
    }
  }, 1000)