= form_for [:manage, assignment] do |form|
  %ul.list-unstyled.assignment-card
    - if local_assigns[:context] != :project
      %li
        = fa_icon("diagram-project", title: 'Assigned To')
        %span= link_to(assignment.project.name.truncate(25), [ :manage, assignment.project ], data: { turbo_frame: :_top })
    - if local_assigns[:context] != :finisher
      %li
        = fa_icon("user", title: 'Assigned To')
        %span= link_to(assignment.finisher.user.name.truncate(25), [ :manage, assignment.finisher ], data: { turbo_frame: :_top })
      %li.text-nowrap
        = fa_icon("envelope", title: 'Email Address')
        %span{ data: { controller: 'clipboard' } }= assignment.finisher.user.email
    %li
      = fa_icon("phone", title: 'Phone Number')
      %span{ data: { controller: 'clipboard' } }= assignment.finisher.phone_number || assignment.finisher.user.phone
    - if assignment.last_contacted_at.present?
      %li
        = fa_icon("calendar-check", title: 'Last Contact')
        %span= time_tag(assignment.last_contacted_at, "Last Contact #{assignment.last_contacted_at.to_formatted_s(:short)}", title: assignment.last_contacted_at)
    %li
      = fa_icon("flag", title: 'Status')
      - if local_assigns[:readonly]
        %strong
          = (assignment.status || 'Unknown').titleize
      - else
        = form.select :status,  [['Unknown', nil]] + Assignment::STATUS.map{|s| [s.titleize, s] }, {}, { class: 'd-inline form-select form-select-sm w-auto', autocomplete: 'off', onchange: 'this.form.requestSubmit()' }
      - if assignment.saved_change_to_status?
        %span.update-flash.visible SAVED
      - else
        %span.update-flash.opacity-0 SAVED


:javascript
  setTimeout(() => {
    let visibleFlashSelector = document.querySelector('.update-flash.visible');
    if (visibleFlashSelector) {
      visibleFlashSelector.classList.remove('visible')
      visibleFlashSelector.classList.add('opacity-0')
    }
  }, 1000)