= form_with model: @assignment, url: [ :manage, :assignments ], html: { class: 'form', data: { turbo: false } } do |form|
  = form.hidden_field :project_id
  = form.hidden_field :finisher_id

  = render "error_messages", resource: @assignment
  .row
    .col-6
      = render 'manage/projects/project_card', { project: @project }
    .col-6
      = render 'manage/finishers/finisher_card', { finisher: @finisher }
  - if !@finisher.assigned_to(@project)
    .form-actions
      = form.submit 'Assign Project', class: "btn btn-primary"