%h1.page-title Sign in
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false } }) do |f|
  .row.my-3
    = f.label :email, class: 'col-form-label col-sm-2'
    .col-sm-4
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
  .row.my-3
    = f.label :password, class: 'col-form-label col-sm-2'
    .col-sm-4
      = f.password_field :password, autocomplete: "current-password", class: 'form-control'
    .col-sm-2.my-auto
      = link_to "Lost Password", new_password_path(resource_name)

  .row.offset-2
    = f.label :remember_me, class: 'form-label' do
      = f.check_box :remember_me
      Remember me
  .row.form-actions
    .col.offset-2
      = f.submit "Log in", class: "btn btn-primary"
