= turbo_frame_tag(dom_id(project_note)) do
  .note.my-2
    .note-header.small.d-flex.ms-au.align-items-center.border-bottom-1.border-dark
      .note-author
        = project_note.user.name
      = button_to fa_icon('remove'), manage_project_project_note_path(project_note.project, project_note), method: :delete, class: 'btn btn-link p-0', form_class: 'd-inline m-0 ms-auto'
    .note-body
      = project_note.description
    .note-footer.small
      = l(project_note.created_at, format: :short)