.nav.breadcrumb.my-5
  = link_to "Manage", manage_dashboard_path, class: 'nav-item'
  - if controller_name == 'projects'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Projects', manage_projects_path, class: 'nav-item'
    - if @project
      = fa_icon("chevron-right")
      = link_to_unless_current @project.name, manage_project_path(@project), class: 'nav-item'
  - if controller_name == 'assignments'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Assignments', manage_assignments_path, class: 'nav-item'
    - if @assignment
      = fa_icon("chevron-right")
      = link_to_unless_current "#{@assignment.project.name} to #{@assignment.volunteer.name}", manage_assignment_path(@assignment), class: 'nav-item'
  - if controller_name == 'volunteers'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Volunteers', manage_volunteers_path, class: 'nav-item'
    - if @volunteer
      = fa_icon("chevron-right")
      = link_to_unless_current @volunteer.name, manage_volunteer_path(@volunteer), class: 'nav-item'

