.nav.breadcrumb.my-5
  = link_to "Manage", manage_dashboard_path, class: 'nav-item'
  - if controller_name == 'projects'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Projects', manage_projects_path, class: 'nav-item'
    - if @project
      = fa_icon("chevron-right")
      = link_to_unless_current @project.name, manage_project_path(@project), class: 'nav-item'
  - if controller_name == 'products'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Products', manage_products_path, class: 'nav-item'
    - if @project
      = fa_icon("chevron-right")
      = link_to_unless_current @product.name, manage_project_path(@product), class: 'nav-item'
  - if controller_name == 'skills'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Skills', manage_projects_path, class: 'nav-item'
    - if @skill
      = fa_icon("chevron-right")
      = link_to_unless_current @skill.name, manage_skills_path(@skill), class: 'nav-item'
  - if controller_name == 'volunteers'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Volunteers', manage_volunteers_path, class: 'nav-item'
    - if @volunteer
      = fa_icon("chevron-right")
      = link_to_unless_current @volunteer.name, manage_volunteer_path(@volunteer), class: 'nav-item'
  - if controller_name == 'users'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Users', manage_users_path, class: 'nav-item'
    - if @user
      = fa_icon("chevron-right")
      = link_to_unless_current @user.name, manage_user_path(@user), class: 'nav-item'
