.nav.breadcrumb.my-5
  = link_to "Manage", manage_dashboard_path, class: 'nav-item'
  - if controller_name == 'projects'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Projects', manage_projects_path, class: 'nav-item'
    - if @project
      = fa_icon("chevron-right")
      - if @project.new_record?
        New Project
      - else
        = link_to_unless_current @project.name, manage_project_path(@project), class: 'nav-item'
  - if controller_name == 'assignments'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Assignments', manage_assignments_path, class: 'nav-item'
    - if @assignment
      = fa_icon("chevron-right")
      - if @assignment.new_record?
        New Assignment
      - else
        = link_to_unless_current "#{@assignment.project.name} to #{@assignment.finisher.name}", manage_assignment_path(@assignment), class: 'nav-item'
  - if controller_name == 'finishers'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Finishers', manage_finishers_path, class: 'nav-item'
    - if @finisher
      = fa_icon("chevron-right")
      = link_to_unless_current @finisher.name, manage_finisher_path(@finisher), class: 'nav-item'

