.nav.breadcrumb.my-5
  = link_to "Manage", manage_dashboard_path, class: 'nav-item'
  - if controller_name == 'projects'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Projects', manage_projects_path, class: 'nav-item'
    - if @project
      = fa_icon("chevron-right")
      - if @project.new_record?
        New Project
      - else
        = link_to_unless_current @project.name, manage_project_path(@project), class: 'nav-item'
  - elsif @project
    = fa_icon("chevron-right")
    = link_to_unless_current 'Projects', manage_projects_path, class: 'nav-item'
    = fa_icon("chevron-right")
    = link_to_unless_current @project.name, manage_project_path(@project), class: 'nav-item'
  - if controller_name == 'finishers'
    = fa_icon("chevron-right")
    = link_to_unless_current 'Finishers', [:manage, @project, :finishers], class: 'nav-item'
    - if action_name == 'map'
      = fa_icon("chevron-right")
      Map
    - if @finisher
      = fa_icon("chevron-right")
      = link_to_unless_current @finisher.chosen_name, manage_finisher_path(@finisher), class: 'nav-item'

