%table.table.table-sm.table-hover
  %thead
    %tr
      %th Name
      %th Finisher
      %th Manager
      %th Project Status
      %th Reason
  %tbody
    - projects.each do |p|
      %tr( onclick="document.location = '#{manage_project_path(p)}';" )
        %td= p.name
        %td= p.finisher.present? ? p.finisher.name : "No Finisher Assigned"
        %td= p.manager.present? ? p.manager.name : "No Manager Assigned"
        %td= p.status
        %td.needs-attention= p.needs_attention.titleize
