%table.table.table-sm
  %thead
    %tr
      %th Name
      %th Finisher
      %th Manager
      %th Project Status
      %th Reason
  %tbody
    - projects.each do |p|
      %tr
        %td= p.name
        %td= p.finisher.name
        %td= p.manager.name
        %td= p.status
        %td= p.needs_attention
