= form_with model: [:manage, @project], html: { class: 'form', data: { turbo: false } } do |form|
  = render "error_messages", resource: @project

  .row.justify-content-between.align-items-center
    %h2.col-4 Project Details
    .col-8.row
      .d-flex.align-items-end
        .col-8.me-2
          = form.label :status, class: 'form-label'
          = form.select :status, Project::STATUSES.values.map { |status| [status, status] }, { }, { id: 'status-dropdown', class: 'form-select' }
        .col-3.me-2
          = form.label :manager_id, class: 'form-label'
          = form.select :manager_id, User.project_managers.map { |a| [a.name, a.id] }, { include_blank: true }, { class: 'form-select' }
        .col-2
          - if current_user.admin?
            = link_to 'Cancel', [:manage, @project], class: 'btn btn-danger float-end'
          -# This section will be toggled based on the selected status

      .col-8.row
        .col-8.d-flex.align-items-end
          = link_to "Change Project Owner", manage_project_users_path(@project)

  %hr

  .page-section
    .row-mb-4
      .col-md-1.offset-md-11
        .form-actions
          = form.submit current_user.admin? ? 'Save' : 'Submit Project', class: "btn btn-primary"

  = render "project_form_fields", form: form

  %h2 Submitter Details
  %hr
  = render "submitter_form_fields", form: form

  %h2 Original Crafter Details
  %hr
  = render "crafter_form_fields", form: form

  %h2 Other Project Attributes
  .row.mb-4
    .col-md-8
      .row.flex-nowrap
        %label.form-label.flex-shrink-1
          = form.check_box :urgent
          Urgent
        %label.form-label.flex-shrink-1
          = form.check_box :company_helped
          Company helped
      .row.mb-3#help-company-row{ style: (@project.company_helped ? '' : 'display: none;') }
        .col-6
          = form.label :help_company, 'Company', class: 'form-label'
          = form.text_field :help_company, class: 'form-control'

      .row.flex-nowrap
        %label.form-label.flex-shrink-1
          = form.check_box :influencer
          Influencer
        %label.form-label.flex-shrink-1
          = form.check_box :group_project
          Group project
      .row.mb-3#group-manager-row{ style: (@project.group_project ? '' : 'display: none;') }
        .col-6
          = form.label :group_manager_id, 'Group Manager', class: 'form-label'
          .autocomplete#group-manager-autocomplete{ data: { controller: 'autocomplete', autocomplete_url: finishers_search_manage_projects_path() } }
            = text_field_tag :group_manager_name, @project.group_manager&.name, class: 'form-control', data: { autocomplete_target: 'input', action: 'input->autocomplete#fetch' }
            = form.hidden_field :group_manager_id, value: @project.group_manager_id, data: { autocomplete_target: 'hidden' }

      .row.flex-nowrap
        %label.form-label.flex-shrink-1
          = form.check_box :press
          Press
        %label.form-label.flex-shrink-1
          = form.check_box :privacy_needed
          Privacy needed

      .row.mb-3#press-fields{ style: (@project.press ? '' : 'display: none;') }
        .col-6
          = form.label :press_region, 'Region', class: 'form-label'
          = form.text_field :press_region, class: 'form-control'
        .col-6
          = form.label :press_outlet, 'Outlet', class: 'form-label'
          = form.text_field :press_outlet, class: 'form-control'

:javascript
  const addRevealHandler = (parent, child) => {
    if (!parent || !child) {
      return;
    }

    parent.addEventListener('change', () => {
      child.style.display = parent.checked ? '' : 'none';
    });
  };

  const setupCheckboxes = () => {
    const groupProjectCheckbox = document.getElementById('project_group_project');
    const groupProjectRow = document.getElementById('group-manager-row');
    addRevealHandler(groupProjectCheckbox, groupProjectRow);

    const pressCheckbox = document.getElementById('project_press');
    const pressFields = document.getElementById('press-fields');
    addRevealHandler(pressCheckbox, pressFields);

    const companyHelpedCheckbox = document.getElementById('project_company_helped');
    const helpCompanyRow = document.getElementById('help-company-row');
    addRevealHandler(companyHelpedCheckbox, helpCompanyRow);
  };

  window.addEventListener('load', setupCheckboxes);
  document.addEventListener('turbo:load', setupCheckboxes);
