= form_with model: [:manage, @project], html: { class: 'form', data: { turbo: false } } do |form|
  = render "error_messages", resource: @project
  .row.mb-4
    .col-6
      = form.label 'Give this project a name', class: 'form-label required'
      = form.text_field :name, class: 'form-control'
    .col-2
      = form.label :status, class: 'form-label'
      = form.select :status, Project::STATUSES.map { |status| [status.humanize, status] }, { }, { id: 'status-dropdown', class: 'form-select' }
    .col-2
      = form.label :manager_id, class: 'form-label'
      = form.select :manager_id, User.project_managers.map { |a| [a.name, a.id] }, { include_blank: true }, { class: 'form-select' }
    
  -# This section will be toggled based on the selected status
  .row.mb-4#ready-status-row{ style: (@project.status == 'ready to match' ? '' : 'display: none;') }
    .col-4
      = form.label :ready_status, 'Ready to Match Status', class: 'form-label'
      = form.select :ready_status, Project::READY_TO_MATCH_STATUSES.map { |status| [status.humanize, status] }, { include_blank: true }, { class: 'form-select' }
  .row.mb-4#in-process-status-row{ style: (@project.status == 'in process' ? '' : 'display: none;') }
    .col-4
      = form.label :in_process_status, 'In Process Status', class: 'form-label'
      = form.select :in_process_status, Project::IN_PROCESS_STATUSES.map { |status| [status.humanize.gsub(/\bpo\b/i, 'PO'), status] }, { include_blank: true }, { class: 'form-select' }

  .row.mb-4
    .col-6
      = form.label 'Phone Number', class: 'form-label required'
      = form.text_field :phone_number, class: 'form-control'
  .row.mb-4
    .col-6
      = form.label 'What type of craft is this?', class: 'form-label required'
      .form-info Knit, Crochet, Quilt. Do you know what it is?
      = form.text_field :craft_type, class: 'form-control'
  .row.mb-4
    .col-6
      = form.label 'What was being made?', class: 'form-label required'
      .form-info (for instance, sweater, socks, blanket, hat...)
      = form.text_area :description, size: "60x5", class: 'form-control'
  .row.mb-4
    .col-4
      = form.label 'Project Images', class: 'form-label required'
      .form-info Please upload photos of the unfinished project.
      = form.file_field :append_project_images, class: 'form-control', accept: "image/png,image/gif,image/jpeg,image/webp", :multiple => true
      - form.object.project_images.each do |image|
        = image_tag image.representation( resize_to_limit: [100, 100])


  .my-4
    %h5 Mailing Address
    .form-info After it's finished, we'll send it back here
    = render :partial => 'layouts/address_form', :locals => { form: form }


  .row.mb-3
    .col-12
      = form.label "Tell us about the crafter's home", class: 'form-label optional'
    .col-6.col-sm-5.col-md-4
      .form-info Were there pets in the home?
      = form.collection_check_boxes(:in_home_pets, [ ['Dog(s)', 'dogs'], ['Cat(s)', 'cats'], ['Other', 'other'] ], :last, :first) do |b|
        .row
          %label.form-label
            = b.check_box
            = b.label

  .row
    .col-xl-8.col-md-10
      .form-info Was there cigarette smoke in the home?
      = form.label 'has_smoke_in_home', class: 'form-label' do
        = form.check_box :has_smoke_in_home
        Yes, there was cigarette smoke in the home.

  .row.g-1.g-sm-4.mb-3
    .col-12
      = form.label 'Sensitivities', class: 'form-label optional'
      .form-info If we find a finisher who has smoke or pets in their home, do you want to avoid this finisher?
      .row
        %label.form-label
          = form.check_box :no_smoke
          No smoke, please.
      .row
        %label.form-label
          = form.check_box :no_cats
          No cats, please.
      .row
        %label.form-label
          = form.check_box :no_dogs
          No dogs, please.

  .page-section
    %h5 Material
    .row.mb-2
      .col-6
        = form.label 'What kind of yarn / material is used?', class: 'form-label required'
        .form-info Wool, Cotton, Linen, Synthetic (Nylon, Polyester, Acrylic, etc). Do you know?
        = form.text_field :material_type, class: 'form-control'
    .row.mb-2
      .col-4
        = form.label 'Material Images', class: 'form-label'
        .form-info Please upload a photo of the materials (yarn, fabric) used. Please be sure to include any labels and branding, if possible.
        = form.file_field :append_material_images, class: 'form-control', accept: "image/png,image/gif,image/jpeg,image/webp", :multiple => true
        - form.object.material_images.each do |image|
          = image_tag image.representation( resize_to_limit: [100, 100])
  .page-section
    %h5 Pattern
    .row.mb-2
      .col-2
        = form.label 'Is there a pattern', class: 'form-label required'
        = form.select :has_pattern, ['Yes', 'No', "I don't know"], { include_blank: true }, { class: 'form-select' }
    .row.mb-2
      .col-4
        = form.label 'Pattern Files', class: 'form-label'
        .form-info Please upload images or PDFs of the pattern, if you have them.
        = form.file_field :append_pattern_files, class: 'form-control', accept: "image/png,image/gif,image/jpeg,image/webp,application/pdf", :multiple => true
        - form.object.pattern_files.each do |file|
          - if file.representable?
            = link_to file.blob.filename, url_for(file)
  .page-section
    %h5 Other Details
    .row.mb-2
      .col-6
        = form.label 'Are there any other details you can offer, or anything else we should know about finishing this project?', class: 'form-label'
        = form.text_area :more_details, size: "60x5", class: 'form-control'


  .form-actions
    = form.submit 'Submit Project', class: "btn btn-primary"

