= form_with model: @project, html: { class: 'form' } do |form|
  = render "error_messages", resource: @project
  .row.mb-4
    .col-6
      = form.label 'Give this project a name', class: 'form-label required'
      = form.text_field :name, class: 'form-control'
    .col-4
      = form.label :status, class: 'form-label'
      = form.select :status, Project::STATUSES.map{ |status| [status.humanize, status ]}, { }, { class: 'form-select' }

  .row.mb-4
    .col-6
      = form.label 'What type of craft is this?', class: 'form-label required'
      .form-info Knit, Crochet, Quilt. Do you know what it is?
      = form.text_field :craft_type, class: 'form-control'
  .row.mb-4
    .col-6
      = form.label 'What was being made?', class: 'form-label required'
      .form-info (for instance, sweater, socks, blanket, hat...)
      = form.text_area :description, size: "60x5", class: 'form-control'
  .row.mb-4
    .col-4
      = form.label 'Project Images', class: 'form-label'
      .form-info Please upload photos of the unfinished project.
      = form.file_field :append_project_images, class: 'form-control', accept: "image/png,image/gif,image/jpeg,image/webp", :multiple => true
      - form.object.project_images.each do |image|
        = image_tag image.representation( resize_to_limit: [100, 100])


  .my-4
    %h5 Mailing Address
    .form-info After it's finished, we'll send it back here
    = render :partial => 'layouts/address_form', :locals => { form: form }

  .form-actions
    = form.submit 'Submit Project', class: "btn btn-primary"

