%tr
  %td= link_to project.name.truncate(40), [:manage, project]
  %td= project.status.titleize
  %td
    - if project.city.present? && project.state.present?
      = #{project.city.titleize}, #{project.state}
  %td
    - if project.active_finisher.present?
      = link_to project.active_finisher&.name, [:manage, project.active_finisher]
  %td
    - if last_contact = project.assignments.where(finisher: project.active_finisher).maximum('updated_at')
      = time_tag(last_contact, "#{time_ago_in_words(last_contact)} ago", title: last_contact)
