= form_tag [:manage, :projects], :method => :get, data: { turbo: false } do
  = hidden_field_tag :v1, true
  = hidden_field_tag :sort, params[:sort]
  .row
    .col-auto
      Search
    .col.text-end.small= link_to 'New Search', manage_projects_path()
  .row.mb-2
    .col
      = text_field_tag :search, params[:search], class: 'form-control', autocomplete: "off", placeholder: 'Names, Descriptions, Craft Type, Cities, etc.'
  .row
    .col
      Status:
    .col
      Assigned:
    .col
      Manager:
    .col
      Per Page:
  .row.mb-2
    .col
      = select_tag :status, options_for_select(@status_options_for_select, params[:status]), include_blank: true, id: 'status-dropdown', class: 'form-select'
    .col
      = select_tag :assigned, options_for_select([['True', 'true'], ['False', 'false']], params[:assigned]), include_blank: true, class: 'form-select'
    .col
      = select_tag :manager_id, options_for_select([['Any', nil], ['No Manager', 'none']] + User.project_managers.map { |a| [a.name, a.id] }, params[:manager_id]), class: 'form-select'
    .col
      = select_tag :per_page, options_for_select(%w[10 20 50 100], params[:per_page] || 20), class: 'form-select', autocomplete: "off"
  .row
    .col-auto
      - Project::BOOLEAN_ATTRIBUTES.each do |attr|
        .form-check.me-2.d-inline-block
          = check_box_tag attr, 'true', params[attr] == 'true', class: 'form-check-input'
          = label_tag attr, attr.to_s.titleize, class: 'form-check-label'
    .col.text-end
      .form-check.me-2.d-inline-block
        = check_box_tag :view, 'list', params[:view] == 'list', class: 'form-check-input', autocomplete: "off"
        = label_tag :view, 'view as list', class: 'form-check-label'
      = submit_tag "Search", name: nil, class: 'btn btn-primary'
      = button_tag(formaction: manage_projects_path(format: 'csv'), class: 'btn btn-sm btn-light ms-2') do
        %span export csv
        = fa_icon('file-export')
