.dropdown
  %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", "data-bs-auto-close" => "outside", type: "button"}
    Add Filter
  .dropdown-menu
    .dropend
      .dropdown-item.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", type: "button"}
        Manager
      %ul.dropdown-menu
        - manager_options.each do |manager_name, manager_id|
          %li
            = link_to(manager_name, manage_projects_path(request.query_parameters.merge(manager_id:)), class: 'dropdown-item')
    .dropend
      .dropdown-item.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", type: "button"}
        Status
      %ul.dropdown-menu
        - statuses.each do |status|
          %li
            = link_to(status, manage_projects_path(request.query_parameters.merge(status: status)), class: 'dropdown-item')
    .dropend
      .dropdown-item.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", type: "button"}
        Last Contact Date
      %ul.dropdown-menu
        - date_options.each do |opt_name, opt_value|
          %li
            = link_to("before #{opt_name}", manage_projects_path(request.query_parameters.merge(last_contacted_at: "before(#{opt_value})")), class: 'dropdown-item')
        - date_options.each do |opt_name, opt_value|
          %li
            = link_to("after #{opt_name}", manage_projects_path(request.query_parameters.merge(last_contacted_at: "after(#{opt_value})")), class: 'dropdown-item')