%h1
  Projects
  = link_to 'New Project', [:new, :manage, :project], class: 'btn btn-outline-secondary float-end'

.mb-4
  = render 'search'

.row
  - if params[:view] == 'list'
    %table.table.project-table
      %thead
        %tr
          %th.sortable{ data: { sort: "name asc", reverse: "name desc" } } Project Name
          %th.sortable{ data: { sort: "status asc", reverse: "status desc" } } Status
          %th.sortable{ data: { sort: "updated_at asc", reverse: "updated_at desc" } } Last Updated
          %th Last Contacted
          %th Location
          %th Owner
          %th Finisher
      %tbody
        = render partial: 'project_row', collection: @projects, as: :project
    = will_paginate @projects
  - else
    = render @projects
    = will_paginate @projects

:javascript
  var handleSortClick = (element) => {
    const sortFormElem = document.getElementById('sort')
    const oldSortValue = sortFormElem.value
    const newSortValue = element.dataset.sort
    const newReverseValue = element.dataset.reverse
    if (!newSortValue) {
      return
    }

    console.log(oldSortValue, newSortValue, newReverseValue)
    if (newSortValue == oldSortValue) {
      sortFormElem.value = newReverseValue
    } else {
      sortFormElem.value = newSortValue
    }

    const tableElem = document.getElementsByClassName('project-table')[0]
    tableElem.classList.add('disabled')
    sortFormElem.form.requestSubmit()
  };

  var updateStatus = (newStatus) => {
    const readyStatusRow = document.getElementById('ready-status-row');
    const inProcessStatusRow = document.getElementById('in-process-status-row');

    if (newStatus === 'ready to match') {
      readyStatusRow.style.display = 'block';
      inProcessStatusRow.style.display = 'none';
    } else if (newStatus === 'in process') {
      readyStatusRow.style.display = 'none';
      inProcessStatusRow.style.display = 'block';
    } else {
      readyStatusRow.style.display = 'none';
      inProcessStatusRow.style.display = 'none';
    }
  }

  var setupStatusDropdown = () => {
    const statusElement = document.getElementById('status-dropdown');
    if (!statusElement) {
      return;
    }

    // Update with dropdown state on page load.
    updateStatus(statusElement.value);
    statusElement.addEventListener('change', () => {
      // Update when changed after page load.
      updateStatus(statusElement.value);
    });
  };

  var setupSortHeaders = () => {
    const currentSort = document.getElementById('sort').value
    const sortableHeaders = document.getElementsByClassName('sortable')

    for (var i=0; i < sortableHeaders.length; i++) {
      let header = sortableHeaders[i]
      if (!header.dataset.clickable) {
        header.addEventListener('click', (event) => { handleSortClick(event.target) })
        header.dataset.clickable  = true
        if (header.dataset.sort == currentSort) {
          header.classList.add('sort-up')
        } else if (header.dataset.reverse == currentSort) {
          header.classList.add('sort-down')
        }
      }
    }
  };

  var setupDomListeners = () => {
    setupStatusDropdown()
    setupSortHeaders()
  };

  window.addEventListener('load', setupDomListeners);
  document.addEventListener('turbo:load', setupDomListeners);