%h1
  Projects
  = link_to 'New Project', [:new, :manage, :project], class: 'btn btn-outline-secondary float-end'

= form_tag [:manage, :projects ], :method => :get do
  .row.mb-4
    .col
      = label_tag "status-dropdown", "Status:"
      = select_tag :status, options_for_select(Project::STATUSES.map{ |status| ["#{status.humanize}#{Project.has_status(status).any? ? " (#{Project.has_status(status).count})" : ''}", status ]}, params[:status]), include_blank: true, id: 'status-dropdown', class: 'form-select'
    .col
      = label_tag :assigned, "Assigned:"
      = select_tag :assigned, options_for_select([['True', 'true'], ['False', 'false']], params[:assigned]), include_blank: true, class: 'form-select'
    .col
      = label_tag :project_manager, "Manager:"
      = select_tag :project_manager, options_for_select(User.project_managers.map { |a| [a.name, a.id] }, params[:project_manager]), include_blank: true, class: 'form-select'
  .row.mb-4
    .col.d-inline-flex
      .d-flex.flex-column.me-2.w-50
        = label_tag :updated_after, "Updated After:"
        = date_field_tag :updated_after, params[:updated_after], class: 'form-control'
      .d-flex.flex-column.ms-2.w-50
        = label_tag :updated_before, "Updated Before:"
        = date_field_tag :updated_before, params[:updated_before], class: 'form-control'
    .col
      = label_tag :attributes, "Attributes:"
      .row
        .col
          .form-check.mb-2
            = check_box_tag :joann_helped, 'true', params[:joann_helped] == 'true', class: 'form-check-input'
            = label_tag :joann_helped, 'Joann Helped', class: 'form-check-label'
          .form-check.mb-2
            = check_box_tag :urgent, 'true', params[:urgent] == 'true', class: 'form-check-input'
            = label_tag :urgent, 'Urgent', class: 'form-check-label'
          .form-check.mb-2
            = check_box_tag :influencer, 'true', params[:influencer] == 'true', class: 'form-check-input'
            = label_tag :influencer, 'Influencer', class: 'form-check-label'
        .col
          .form-check.mb-2
            = check_box_tag :group_project, 'true', params[:group_project] == 'true', class: 'form-check-input'
            = label_tag :group_project, 'Group Project', class: 'form-check-label'
          .form-check.mb-2
            = check_box_tag :press, 'true', params[:press] == 'true', class: 'form-check-input'
            = label_tag :press, 'Press', class: 'form-check-label'
          .form-check
            = check_box_tag :privacy_needed, 'true', params[:privacy_needed] == 'true', class: 'form-check-input'
            = label_tag :privacy_needed, 'Privacy Needed', class: 'form-check-label'
    .col
      = submit_tag "Search", name: nil, class: 'btn btn-primary'

  .row.mb-4#ready-status-row{ style: "display: none;" }
    .col-4
      = label_tag :ready_status, 'Ready to Match Status:', class: 'form-label'
      = select_tag :ready_status, options_for_select(Project::READY_TO_MATCH_STATUSES.map { |status| ["#{status.humanize}#{Project.has_ready_status(status).any? ? " (#{Project.has_ready_status(status).count})" : ''}", status] }, params[:ready_status]), include_blank: true, class: 'form-select'
  .row.mb-4#in-process-status-row{ style: "display: none;" }
    .col-4
      = label_tag :in_process_status, 'In Process Status:', class: 'form-label'
      = select_tag :in_process_status, options_for_select(Project::IN_PROCESS_STATUSES.map { |status| ["#{status.humanize.gsub(/\bpo\b/i, 'PO')}#{Project.has_in_process_status(status).any? ? " (#{Project.has_in_process_status(status).count})" : ''}", status] }, params[:ready_status]), include_blank: true, class: 'form-select'

.row
  = render @projects
  = will_paginate @projects

:javascript
  var updateStatus = (newStatus) => {
    const readyStatusRow = document.getElementById('ready-status-row');
    const inProcessStatusRow = document.getElementById('in-process-status-row');

    if (newStatus === 'ready to match') {
      readyStatusRow.style.display = 'block';
      inProcessStatusRow.style.display = 'none';
    } else if (newStatus === 'in process') {
      readyStatusRow.style.display = 'none';
      inProcessStatusRow.style.display = 'block';
    } else {
      readyStatusRow.style.display = 'none';
      inProcessStatusRow.style.display = 'none';
    }
  }

  var setupStatusDropdown = () => {
    const statusElement = document.getElementById('status-dropdown');
    if (!statusElement) {
      return;
    }

    // Update with dropdown state on page load.
    updateStatus(statusElement.value);
    statusElement.addEventListener('change', () => {
      // Update when changed after page load.
      updateStatus(statusElement.value);
    });
  };

  window.addEventListener('load', setupStatusDropdown);
  document.addEventListener('turbo:load', setupStatusDropdown);