%h1
  Projects
  = link_to 'New Project', [:new, :manage, :project], class: 'btn btn-outline-secondary float-end'

= form_tag [:manage, :projects ], :method => :get do
  .row
    .col
      Status:
    .col
      Assigned:
    .col
      Manager:
    .col
  .row.mb-4
    .col
      = select_tag :status, options_for_select(Project::STATUSES.map{ |status| ["#{status.humanize}#{Project.has_status(status).any? ? " (#{Project.has_status(status).count})" : ''}", status ]}, params[:status]), include_blank: true, class: 'form-select'
    .col
      = select_tag :assigned, options_for_select([['True', 'true'], ['False', 'false']], params[:assigned]), include_blank: true, class: 'form-select'
    .col
      = select_tag :project_manager, options_for_select(User.project_managers.map { |a| [a.name, a.id] }, params[:project_manager]), include_blank: true, class: 'form-select'
    .col
      = submit_tag "Search", name: nil, class: 'btn btn-primary'


.row
  = render @projects
  = will_paginate @projects