%h1
  Projects
  = link_to 'New Project', [:new, :manage, :project], class: 'btn btn-outline-secondary float-end'

= form_tag [:manage, :projects ], :method => :get do
  .row
    .col
      Status:
    .col
      Assigned:
    .col
  .row.mb-4
    .col
      = select_tag :status, options_for_select(Project::STATUSES.map{ |status| [status.humanize, status ]}, params[:status]), include_blank: true, class: 'form-select'
    .col
      = select_tag :assigned, options_for_select([['True', 'true'], ['False', 'false']], params[:assigned]), include_blank: true, class: 'form-select'
    .col
      = submit_tag "Search", name: nil, class: 'btn btn-primary'


.row
  = render @projects
  = will_paginate @projects