%h1
  Projects
  = link_to 'New Project', [:new, :manage, :project], class: 'btn btn-outline-secondary float-end'

.mb-4
  = render 'search'

.row
  - if params[:view] == 'list'
    %table.table.project-table
      %thead
        %tr.small
          %th.sortable{ data: { sort: "name asc", reverse: "name desc" } } Project Name
          %th.sortable{ data: { sort: "status asc", reverse: "status desc" } } Status
          %th.text-nowrap Last Finisher Response
          %th.sortable{ data: { sort: "users.email asc", reverse: "users.email desc" } } Project Owner
          %th.sortable{ data: { sort: "finishers.chosen_name asc nulls last", reverse: "finishers.chosen_name desc nulls last" } } Finisher
      %tbody
        = render partial: 'project_row', collection: @projects, as: :project
    = will_paginate @projects
  - else
    = render @projects
    = will_paginate @projects

:javascript
  var handleSortClick = (element) => {
    const sortFormElem = document.getElementById('sort')
    const oldSortValue = sortFormElem.value
    const newSortValue = element.dataset.sort
    const newReverseValue = element.dataset.reverse
    if (!newSortValue) {
      return
    }

    console.log(oldSortValue, newSortValue, newReverseValue)
    if (newSortValue == oldSortValue) {
      sortFormElem.value = newReverseValue
    } else {
      sortFormElem.value = newSortValue
    }

    const tableElem = document.getElementsByClassName('project-table')[0]
    tableElem.classList.add('disabled')
    sortFormElem.form.requestSubmit()
  };

  var setupSortHeaders = () => {
    const currentSort = document.getElementById('sort').value
    const sortableHeaders = document.getElementsByClassName('sortable')

    for (var i=0; i < sortableHeaders.length; i++) {
      let header = sortableHeaders[i]
      if (!header.dataset.clickable) {
        header.addEventListener('click', (event) => { handleSortClick(event.target) })
        header.dataset.clickable  = true
        if (header.dataset.sort == currentSort) {
          header.classList.add('sort-up')
        } else if (header.dataset.reverse == currentSort) {
          header.classList.add('sort-down')
        }
      }
    }
  };

  var setupDomListeners = () => {
    setupSortHeaders()
  };

  window.addEventListener('load', setupDomListeners);
  document.addEventListener('turbo:load', setupDomListeners);