= hidden_field_tag "updated_at_utc", @project.updated_at.iso8601

.row
  .col-md-8.mb-4.mb-md-0
    %h1.project-name= @project.name
    %small.text-secondary.mb-2= time_tag(@project.updated_at, "Last Updated: #{time_ago_in_words(@project.updated_at)} ago", title: @project.updated_at, id: 'updated_at')
  .col-md-4
    = render partial: "status", locals: { project: @project }

%hr

- if suggested_actions?
  .row
    .col
      = render partial: 'show_actions'

.row
  .col-md-8.order-last.order-md-first
    .d-flex.flex-wrap.gap-4
      = render partial: 'show_owner_manager'
      = render partial: 'show_attributes'
      = render partial: 'show_details'
      = render partial: 'show_materials'
      = render partial: 'show_crafter'
  .col-md-4.border-start
    - if current_user.can_manage?
      = link_to 'Edit Project', [:edit, :manage, @project], class: 'btn btn-outline-secondary mb-4'
    = render partial: 'needs_attention', locals: { project: @project }
    = render partial: 'show_finishers'
    = render partial: 'show_notes'

= render partial: 'messages/index', locals: { resource: @project }


:javascript
  var updateProjectTimestamp = () => {
    const timestamp = document.getElementById('updated_at_utc');
    const date = new Date(timestamp.value).toLocaleDateString()
    const time = new Date(timestamp.value).toLocaleTimeString()

    const text = document.getElementById('updated_at')
    text.title = `${date} ${time}`
  }

  window.addEventListener('load', updateProjectTimestamp);
  document.addEventListener('turbo:load', updateProjectTimestamp);