= turbo_stream.replace "needs-attention-form" do
  = render "needs_attention_form", project: @project

= turbo_stream.replace "project-status-form" do
  = render "project_status_form", project: @project

= turbo_stream.replace "project-manager-form" do
  = render "project_manager_form", project: @project
