= render 'title', title: 'Dashboard'
.row
  .col-3
    %h3 Lists
    .row
      .col
        = link_to 'Products', admin_products_path
        (#{Product.count})
    .row
      .col
        = link_to 'Skills', admin_skills_path
        (#{Skill.count})
  .col-9
    %h3 Queues
    .row
      = link_to 'Users', admin_users_path
      (#{User.count})
