<%= render 'title', title: 'Dashboard' %>
<div class="layout">
  <div class="layout-aside">
    <h3 class="page-section">Lists</h3>
    <p><%= link_to 'Products', admin_products_path %></p>
    <p><%= link_to 'Skills', admin_skills_path %></p>
  </div>
  <div class="layout-details">
    <h3 class="page-section">Queues</h3>
    <p><%= link_to 'Volunteers', admin_volunteers_path %></p>
    <p><%= link_to 'Projects', admin_products_path %></p>
    <p><%= link_to 'Users', admin_users_path %></p>
  </div>
</div>