<%= render 'title', title: 'Dashboard' %>
<div class="layout">
  <div class="layout-aside mr-6">
    <h3 class="page-section">Lists</h3>
    <p><%= link_to 'Products', admin_products_path %> (<%= Product.count %>) </p>
    <p><%= link_to 'Skills', admin_skills_path %> (<%= Skill.count %>)</p>
  </div>
  <div class="layout-details">
    <h3 class="page-section">Queues</h3>
    <div class="page-section"><%= link_to 'Volunteers', admin_volunteers_path %>
      <div>
        Count: <%= Volunteer.count %>
      </div>
      <div>
        Approved: <%= Volunteer.approved.count %>
      </div>
    </div>
    <div class="page-section"><%= link_to 'Projects', admin_projects_path %>
      <div>
        Proposed: <%= Project.proposed.count %>
      </div><div>
        Approved: <%= Project.approved.count %>
      </div><div>
          In Progress: <%= Project.in_progress.count %>
      </div><div>
          Finished: <%= Project.finished.count %>
      </div>
    </div>
    <div class="page-section"><%= link_to 'Users', admin_users_path %> (<%= User.count %>) </div>
  </div>
</div>