%tr
  %td
    = user.id
  %td
    = link_to user.name, [:admin, user]
  %td
    = user.email
  %td
    = user.phone
  %td.text-center
    = user.projects.count
  %td.text-center
    - if user.finisher?
      = fa_icon('user', class: 'finisher')
  %td.text-center
    - if user.manager?
      = fa_icon('gear', class: 'manager')
  %td.text-center
    - if user.admin?
      = fa_icon('user-secret', class: 'admin')
