<tr>
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= link_to user.name, [:admin, user] %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.projects.count %>
  </td>
  <td>
    <% if user.volunteer? %><%= fa_icon('user', class: 'volunteer') %><% end %>
  </td>
  <td>
    <% if user.admin? %><%= fa_icon('user-secret', class: 'admin') %><% end %>
  </td>
</tr>