= render 'title', title: 'Users'

= form_tag admin_users_path, :method => :get do
  .row.mb-0
    .col-4
      = label_tag :search, "Name/Email", class: 'label'
    .col-2
      = label_tag :search, "Sort", class: 'label'
    .col-2
      = label_tag :search, "Role", class: 'label'
  .row.mb-4
    .col-4
      = text_field_tag :search, params[:search], class: 'form-control'
    .col-2
      = select_tag :sort, options_for_select([['Date', 'date'], ['Name', 'name']], params[:sort]), include_blank: true, class: 'form-select'
    .col-2
      = select_tag :role, options_for_select([['User', 'user'], ['Manager', 'manager'], ['Admin', 'admin']], params[:role]), include_blank: true, class: 'form-select'
    .col
      = submit_tag "Search", name: nil, class: 'btn btn-primary'

%table.table
  %tr
    %th ID
    %th Name
    %th Email
    %th Phone
    %th.text-center Projects
    %th.text-center Finisher
    %th.text-center Manager
    %th.text-center Admin
  = render @users

= will_paginate @users