%h1
  = @user.name
  .float-end
    = link_to "Assume Identity", [:assume_identity, :admin, @user], class: 'btn btn-outline-secondary'
    = link_to 'Edit User', [:edit, :admin, @user], class: 'btn btn-outline-secondary'

.row
  .col
    Since: #{l @user.created_at, format: :long}
  .col
    Email: #{@user.email}
%p
  Role: #{@user.role} #{@user.is_project_manager ? '(Matcher)' : ''}
