!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title || "Loose Ends"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('favicon.png')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    = render 'navigation'
    %main.container.mx-auto.mt-5.px-3.px-sm-5
      = render 'flash_messages'
      = yield
      %footer
        %h6 Loose Ends Project
        Need help?  Reach out at #{mail_to 'help@looseendsproject.org'}
