!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= display_env + (@title || "Loose Ends - Home")
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('favicon.png')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_tag '', src: "https://code.jquery.com/jquery-3.7.1.slim.min.js",
        integrity: "sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=", crossorigin: 'anonymous'
  %body
    = render 'navigation'
    %main.container.mx-auto.mt-5.px-3.px-sm-5
      = render 'flash_messages'
      = yield
      %footer
        %h6 Loose Ends Project
        Need help?  Reach out at #{mail_to 'help@looseendsproject.org'}
