<!DOCTYPE html>
<html>
  <head>
    <title>Loose Ends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render 'navigation' %>

    <main class="container mx-auto mt-12 px-5">
      <%= render 'flash_messages' %>
      <%= yield %>
    </main>
  <footer>
    Loose Ends
  </footer>
  </body>
</html>
